<div class="need-finder-form-wrapper">
    <div class="date-header row">
        <div class="col-sm-5 col-md-5 header-navbar">
            <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span> 
            <span>{{appLiterals.APP.POST_RATING.TITLE.PAGE_NAME}}</span>
        </div>
        <div class="col-sm-7 col-md-7 padding-zero">
            <div class="status-section">
                <div class="step-sec step-active">
                    <div class="step-dot">
                    </div>
                    <div class="step-number step-number-active">
                        <p>You are here</p>
                    </div>
                </div>
                <div class="step-hr">
                    <hr>
                </div>
                <div class="step-sec">
                    <div class="step-dot">
                    </div>
                    <div class="step-number">
                        <p>Step 2</p>
                    </div>
                </div>
                <div class="step-hr">
                    <hr>
                </div>
                <div class="step-sec">
                    <div class="step-dot">
                    </div>
                    <div class="step-number">
                        <p>Step 3</p>
                    </div>
                </div>
                <div class="step-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="init-height">
    </div>
    <div class="form-wrapper">
        <div class="row">
            <br><br>
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-3 col-md-3">
                    <div class="analysis-heading">
                        <p>{{appLiterals.APP.POST_RATING.LABEL.TABLE_NO}}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="group">
                        <select class="date-dropdown browser-default">
                            <option>55</option>
                            <option>56</option>
                            <option>57</option>
                            <option>58</option>
                            <option>59</option>
                            <option>60</option>
                            <option>61</option>
                            <option>62</option>
                            <option>63</option>
                            <option>64</option>
                            <option>65</option>
                            <option>66</option>
                            <option>67</option>
                            <option>68</option>
                            <option>69</option>
                            <option>70</option>
                            <option>71</option>
                            <option>72</option>
                            <option>73</option>
                            <option>74</option>
                            <option>75</option>
                            <option>76</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 text-right">
                    <button class="grid-cont-btn ng-binding" ng-click="postRating.showTable()">SUBMIT</button>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="analysis-heading">
                        <p>{{appLiterals.APP.POST_RATING.LABEL.TABLE_DETAILS}}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-3 col-md-3">
                        <div class="analysis-heading">
                            <p class="ng-binding">{{appLiterals.APP.POST_RATING.LABEL.GAMING_DATE}}</p>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <div class="group">
                            <!--<input class="inputMaterial" type="text" required value="15/07/2016">-->
                            <input type="datetime-local" name="bdaytime">
                            <span class="highlight"></span>
                            <!--<label></label>-->
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required value="23">
                            <span class="highlight"></span>
                            <label>{{appLiterals.APP.POST_RATING.LABEL.SHIFT_CODE}}</label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <select class="date-dropdown browser-default">
                                <option selected disabled>Game type</option>
                                <option>Poker</option>
                                <option>Baccarat</option>
                                <option>Wheel of Fortune</option>
                                <option>Roulette</option>
                                <option>Bingo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <select class="date-dropdown browser-default">
                                <option selected disabled>Sub Game Type</option>
                                <option> 5-card draw</option>
                                <option>5-card stud</option>
                                <option>Texas Hold’em</option>
                                <option>Razz</option>
                                <option>Pineapple</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 text-right">
                        <button class="grid-cont-btn" ng-click="postRating.showTable()">{{appLiterals.APP.COMMON.BUTTON.NEXT}}</button>
                    </div>
                </div>
                <div class="row disable-cursor" id="pitTable">
                    <div class="col-sm-12 col-md-12">
                        <div class="analysis-heading">
                            <p>{{appLiterals.APP.POST_RATING.LABEL.PATRON_DETAILS}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="2645454">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.PATRON_NUMBER}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" value="John">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.PATRON_NAME}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="7">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.RATING_IN_TIME}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="3">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.RATING_OUT_TIME}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="8">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.HOURS_PLAYED}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="3">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.PAUSED_TIME}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="50000">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.AVERAGE_BET}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="hourly">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.BETTING_FREQUENCY}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="38458430">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.TURNOVER_AMOUNT}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="WIN">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.PATRON_WIN_LOSE}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="5">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.NUMBER_OF_HANDS_PLAYED}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="21053950">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.CASH_IN_AMOUNT}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="16783838">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.CHIPS_IN_AMOUNT}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="799645">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.CHEQUES_IN_AMOUNT}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required value="3235556">
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.POST_RATING.LABEL.CHIPS_OUT_AMOUNT}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <button class="grid-cont-btn" ng-click="setEvent('onFormClick')">{{appLiterals.APP.COMMON.BUTTON.ISSUE}}</button>
                        </div>
                    </div>  <!-- TO disable the table -->
                </div>
            </div>
        </div>
    </div>
</div>
<br>