<div class="need-finder-form-wrapper" ng-init="postRating.getFormResponse(successResponse)">
       <div class="date-header row">
     <div class="col-sm-5 col-md-5 header-navbar">
         <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span> 
       <span>{{appLiterals.APP.POST_RATING.TITLE.PAGE_NAME_2}}</span>
     </div>
     <div class="col-sm-7 col-md-7 padding-zero">
       <div class="status-section">
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 1</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>You are here</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 3</p>
             </div>
          </div>
          <div class="step-close">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
   <div class="init-height">
      </div>
      <h5 class="mar-20">{{appLiterals.APP.POST_RATING.LABEL.VERIFY_ENTERED_DETAILS}}</h5>
      <div class="card mar-20">
     <div class="table-details">
         <table class="striped">
        <thead class="text-center">
          <tr>
              <th class="text-center" data-field="id">{{appLiterals.APP.POST_RATING.LABEL.PATRON_DETAILS}}</th>
              <th class="text-center" data-field="name">{{appLiterals.APP.POST_RATING.LABEL.ENTERED_VALUE}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.PATRON_NAME}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.PatronName}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.PATRON_NUMBER}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.PatronNumber}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.RATING_IN_TIME}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.RatingTime}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.HOURS_PLAYED}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.HoursPlayed}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.PAUSED_TIME}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.PausedTime}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.AVERAGE_BETTING}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.AverageBetting}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.BETTING_FREQUENCY}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.BettingFrequency}}</td>
          </tr>
          <tr>
            <td class="text-center">{{appLiterals.APP.POST_RATING.LABEL.TURNOVER_AMOUNT}}</td>
            <td class="text-center">{{postRating.pageData.patronDetail.TurnoverAmount}}</td>
          </tr>
        </tbody>
      </table>

     
     </div>
      </div>
     <div class="row">
       <div class="col-sm-12 col-md-12">
         <div class="col-sm-8 col-md-8">
          </div>
          <div class="col-sm-4 col-md-4">
                <button class="grid-cont-btn" ng-click="setEvent('onVideoClick')" type="submit" name="action">{{appLiterals.APP.COMMON.BUTTON.CONTINUE}}
                </button>
             </div>
      </div>
     </div>
   </div>
  </div>
  <br>