   <div class="payment-wrapper" ng-init="postRating.getPaymentResponse(successResponse)">
   <div class="date-header row">
     <div class="col-sm-5 col-md-5">
       <span>Payment <span class="normal-font">Mode</span></span>
       <p>Step 3</p>
     </div>
     <div class="col-sm-7 col-md-7 zero-padding">
       <div class="status-section">
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 1</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 2</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>You are here</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 4</p>
             </div>
          </div>
          <div class="step-close">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
   <div class="scanner">
       <img src="images/scan.jpg" class="img-responsive">
   </div>
   <div class="payment-form">
      <div class="analysis-heading">
       <p>Enter credit card details</p>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="group">      
          <input class="inputMaterial" type="text" required value="{{postRating.pageData.payment.name}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        </div>
         <div class="col-sm-4 col-md-4 position-rel">
          <div class="card-img">
            <img src="images/visa.png" class="img-responsive"> 
          </div>
          <div class="group">      
          <input class="inputMaterial" type="text" required value="{{postRating.pageData.payment.cardNumber}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Card Number</label>
        </div>
        </div>
         <div class="col-sm-4 col-md-4">
            <div class="col-sm-6 col-md-6">
               <select class="date-dropdown">
                 <option>10(Jan)</option>
               </select>
            </div>
            <div class="col-sm-6 col-md-6">
               <select class="date-dropdown">
                 <option>2019</option>
               </select>
            </div>
        </div>
        
      </div>
      <div class="row">
            <div class="col-sm-12 col-md-12">
             <div class="group">      
              <input class="inputMaterial" type="text" required value="{{postRating.pageData.payment.cvv}}">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>CVV</label>
            </div>
        </div>
      <div class="col-sm-12 col-md-12">
         <input type="checkbox" class="term-checkbox">
         <p class="term-margin">I agree to the <span class="primary-highlight">Terms & Conditions</span>
         </p>
      </div>
      <div class="col-sm-4 col-md-4 proceed-padding">
        <button class="grid-cont-btn" ng-click="setEvent('onSuccessClick')">Proceed to apply</button>
      </div>
    </div>

   </div>
</div>