<div class="postRating-success-wrap" ng-init="postRating.getSuccessResponse(successResponse)">
  <div class="success-msg" ng-show="postRating.successMsg">
     <p>PAYMENT SUCCESSFUL!! A soft copy of the policy emailed to Mr.Shashank Patil</p>
     <a class="dismiss-link" ng-click="postRating.successMsg=false">Dismis</a>
  </div>
  <div class="date-header row">
     <div class="col-sm-5 col-md-5">
       <span>Policy <span class="normal-font">issued</span></span>
       <p>Step 4</p>
     </div>
     <div class="col-sm-7 col-md-7 zero-padding">
       <div class="status-section">
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 1</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 2</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 3</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>We're done</p>
             </div>
          </div>
          <div class="step-close">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
    <div class="customer-header-cont">
        <div class="col-sm-7 col-md-7">
            <div class="customer-img">
                <img src="images/customer.jpg" class="img-circle img-responsive">
             </div>
            <h1 class="customer-head-h">{{postRating.pageData.customerDetail.customerName}}<span class="normal-font">
            ,33 Years</span></h1>
            <p class="font-bold">{{postRating.pageData.customerDetail.profile}}</p>
        </div>
        <div class="col-sm-5 col-md-5 text-right">
           <h4 class="customer-loc">{{postRating.pageData.customerDetail.location}}<span class="normal-font"> ,{{postRating.pageData.customerDetail.country}}</span></h4>
        </div>
    </div>
    <div class="policy-details">
      <h4 class="policy-txt">Thank you for choosing us as your financial protector.
      <br>
      <span class="normal-font">Following are your transactional details</span></h4>
      <br>
      <div class="row">
         <div class="col-sm-8 col-md-8 pad-left">
            <div class="col-sm-6 col-md-6 pad-left">
              <p class="customer-details-p">PROPOSAL NUMBER</p>
              <p class="customer-details-p">POLICY NAME</p>
              <p class="customer-details-p">TRANSACTION NUMBER</p>
              <p class="customer-details-p">ANNUAL PREMIUM</p>
              <p class="customer-details-p">POLICY TERM</p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h4 class="customer-details-h">{{postRating.pageData.customerDetail.phNumber}}</h4>
              <h4 class="customer-details-h">{{postRating.pageData.customerDetail.policyName}}</h4>
              <h4 class="customer-details-h">{{postRating.pageData.customerDetail.tranNo}}</h4>
              <h4 class="customer-details-h">&#x20a8 {{postRating.pageData.customerDetail.anualPremiuam}}</h4>
              <h4 class="customer-details-h"> {{postRating.pageData.customerDetail.policyTerm}}</h4>
            </div>
         </div>
      </div>
      
    </div>
        <div class="profile-btn">
          <div class="row">
           <div class="col-sm-3 col-md-3">
            <button class="grid-cont-btn" ng-click="active='creditRequest';creditRequest.commission=true;setGlobalEvent('onGoalClick')">My Profile</button>
          </div>
          </div>
        </div>
        <div class="invest-grid-cont">
        <div class="invest-grid-head">
          PEOPLE LIKE YOU ALSO BOUGHT
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" ng-repeat="topRecommendations in postRating.pageData.topRecommendations">
                <div class="invest-grid-content">
                    <img ng-src="{{topRecommendations.img}}" class="img-responsive full-width">
                    <div class="cart-logo">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class='plan-name'>
                        <p>{{topRecommendations.plan}}</p>
                        <span class="plan-likes">{{topRecommendations.about}}</span>
                    </div>
                    <div class="plan-feedback">
                        <div class="col-sm-2 col-md-2 zero-padding">
                            <img src="images/user.jpg" class="img-circle feedback-img">
                        </div>
                        <div class="col-sm-10 col-md-10" ng-repeat="reviews in topRecommendations.reviews">
                            <p class="font-bold">{{reviews.customerName}}</p>
                            <i class="feed-cmt">{{reviews.data}}</i>
                        </div>
                    </div>
                    <p class="read-more">Read more</p>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
          <div class="fb-login">
            <i class="fa fa-facebook-official fb-login-icon" aria-hidden="true"></i>
             <p class="fb-login-txt">Login with Facebook</p>
          </div>
          <p class="login-txt">to see what your facebook friends are saying about this.</p>
        </div>
  </div>