 <header>
          <div class="month">jan </div>
          <div class="month">feb</div>
          <div class="month">mar</div>
          <div class="month">apr</div>
          <div class="month">may</div>
          <div class="month month-act">jun</div>
          <div class="month">jul</div>
          <div class="month">aug</div>
          <div class="month">sep</div>
          <div class="month">oct</div>
          <div class="month">nov</div>
          <div class="month">dec</div>
      </header>
      <section class="day-header">
        <div class="day">Sun</div>
        <div class="day">Mon</div>
        <div class="day">Tue</div>
        <div class="day">Wed</div>
        <div class="day">Thu</div>
        <div class="day">Fri</div>
        <div class="day">Sat</div>
      </section>
      <section class="day-content">
        <day ng-repeat="day in ctrl.preDays" class="inactive" data-col="{{day.col}}" data-row="{{day.row}}"></day>
        <day ng-class="{'current-date':dashboard.today ==($index + 1)}" ng-repeat="day in ctrl.days" data-col="{{day.col}}" data-row="{{day.row}}">{{$index + 1}}
	        <div ng-if='($index + 1)%3==0 && !(dashboard.today ==($index + 1))' class="date-highlight">
	        </div>
        </day>
        <day ng-repeat="day in ctrl.postDays" class="inactive" data-col="{{day.col}}" data-row="{{day.row}}"></day>
      </section>