<div class="dashboard-wrapper">
   <div class="date-header">
     <span>13 Jun, <span style="font-weight:normal">2016</span></span>
     <p>Monday</p>
   </div>
	<div class="map-wrap">
		<img src="images/staticmap.png" class="img-responsive">
	</div>
   <div class="row first-half">
        <div class="col-sm-5 col-md-5 left-cont">
            <div class="col-sm-12 time-wrap">
                <div class="col-sm-5 pad15">
                    <p class="circle-wrap"></p>
                    <p class="circle-txt">&nbsp; New Customer</p>
                </div>
                <div class="col-sm-5 pad15 text-center">
                    <p class="circle-wrap ml-25"></p>
                    <p class="circle-txt">&nbsp; Follow Up</p>
                </div>
                <div class="col-sm-2">
                    <p class="glyphicon glyphicon-option-horizontal hr-icon"></p>
                </div>
            </div>
            <div class="col-sm-12 time-scroll">

                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>
                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>
                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>
                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>
                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>
                <div class="col-sm-12 padding-zero">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">03:00PM</h5>
                        <p class="rem-txt">Call Harti Pithwa as a reminder</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-7 col-md-7 right-cont">
             <calendar></calendar>
        </div>
    </div>
    <div class="row second-half">
      <div class="stock-wrap">
        <div class="stock-cont">
            <p class="stock-name">Stock name</p>
            <p class="stock-amt">$12,500</p>
            <p class="fa fa-caret-up stock-arrow" aria-hidden="true"></p>
            <p class="stock-per">234(0.63%)</p>
            <p class="stock-div"></p>
        </div>
        <div class="stock-cont">
            <p class="stock-name">Stock name</p>
            <p class="stock-amt">$12,500</p>
            <p class="fa fa-caret-up stock-arrow" aria-hidden="true"></p>
            <p class="stock-per">234(0.63%)</p>
            <p class="stock-div"></p>
        </div>
        <div class="stock-cont">
            <p class="stock-name">Stock name</p>
            <p class="stock-amt">$12,500</p>
            <p class="fa fa-caret-up stock-arrow" aria-hidden="true"></p>
            <p class="stock-per">234(0.63%)</p>
            <p class="stock-div"></p>
        </div>
        <div class="stock-cont">
            <p class="stock-name">Stock name</p>
            <p class="stock-amt">$12,500</p>
            <p class="fa fa-caret-up stock-arrow" aria-hidden="true"></p>
            <p class="stock-per">234(0.63%)</p>
        </div>
      </div>
      <div class="recent-wrap">
        <p class="recent-txt">Recent News</p>
        <div class="col-sm-4 news-wrap">
            <p class="news-cont">Invest 1lakh and earn upto 72lakh</p>
        </div>
        <div class="col-sm-4 news-wrap">
            <p class="news-cont">Invest 1lakh and earn upto 72lakh</p>
        </div>
        <div class="col-sm-4 news-wrap zero-margin">
            <p class="news-cont">Invest 1lakh and earn upto 72lakh</p>
        </div>
       </div>
    </div>
</div>