<div class="menu-wrapper" ng-init="active='home'">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="menu-header text-center">
        <img src="images/logo.jpg" class="img-responsive">
    </div>
    <div class="menu-content">
        <div class="{{active}}">
            <ul class="menu-ul mainmenu">
                <li class="menu-li home-active" ng-click="active='home';setGlobalEvent('onDashboardClick');" onclick="closeNav()">
                    <i class="fa fa-home menu-icon" aria-hidden="true"></i>
                    {{appLiterals.APP.COMMON.MENU_NAME.DASHBOARD}}
                    <p ng-show="{{active}}" class="actbar"></p>
                </li>
                <li class="menu-li creditRequest-active" ng-click="active='creditRequest';setGlobalEvent('onGoalClick')" onclick="closeNav()">
                    <i class="fa fa-money menu-icon" aria-hidden="true"></i>
                    {{appLiterals.APP.COMMON.MENU_NAME.CREDIT_REQUEST}}
                    <p class="actbar"></p>
                </li>
                <li class="menu-li finder-active" ng-click="active='finder';setGlobalEvent('onpostRatingClick')" onclick="closeNav()">
                    <i class="fa fa-star  menu-icon" aria-hidden="true"></i>
                    {{appLiterals.APP.COMMON.MENU_NAME.POST_RATING}}
                    <p class="actbar"></p>
                </li>
                <li class="menu-li adjustGamingTable-active" ng-click="active='adjustGamingTable'">
                    <i class="fa fa-random  menu-icon" aria-hidden="true"></i>
                    {{appLiterals.APP.COMMON.MENU_NAME.ADJUST_TABLE}}
                    <p class="actbar"></p>
                    <ul class="submenu">
                        <li class="menu-li" ng-click="active='adjustGamingTable';setGlobalEvent('onAdjustGamingTableClick')" onclick="closeNav()">
                            <i class="fa fa-random  menu-icon" aria-hidden="true"></i>
                           {{appLiterals.APP.COMMON.MENU_NAME.ADJUST_TABLE_OPEN}}
                            <!--<p class="actbar"></p>-->
                        </li>
                        <li class="menu-li" ng-click="active='adjustGamingTable';setGlobalEvent('onAdjustGamingTableCloseClick')" onclick="closeNav()">
                            <i class="fa fa-random  menu-icon" aria-hidden="true"></i>
                            {{appLiterals.APP.COMMON.MENU_NAME.ADJUST_TABLE_CLOSE}}
                            <!--<p class="actbar"></p>-->
                        </li>
                    </ul>
                </li>


                <li class="menu-li openCloseGamingTable-active" ng-click="active='openCloseGamingTable'">
                    <i class="fa fa-unlock  menu-icon" aria-hidden="true"></i>
                    {{appLiterals.APP.COMMON.MENU_NAME.OPEN_CLOSE_TABLE}}
                    <p class="actbar"></p>
                    <ul class="submenu">
                        <li class="menu-li" ng-click="active='openCloseGamingTable';setGlobalEvent('onOpenGamingTableClick')" onclick="closeNav()">
                            <i class="fa fa-unlock  menu-icon" aria-hidden="true"></i>
                            {{appLiterals.APP.COMMON.MENU_NAME.OPEN_GAMING_TABLE}}
                        </li>
                        <li class="menu-li" ng-click="active='openCloseGamingTable';setGlobalEvent('onCloseGamingTableClick')" onclick="closeNav()">
                            <i class="fa fa-lock  menu-icon" aria-hidden="true"></i>
                            {{appLiterals.APP.COMMON.MENU_NAME.CLOSE_GAMING_TABLE}}
                        </li>
                    </ul>
                </li>

                <!--<li class="menu-li openGamingTable-active" ng-click="active='openGamingTable';setGlobalEvent('onOpenGamingTableClick')">
                    <i class="fa fa-unlock  menu-icon" aria-hidden="true"></i>
                    Open Gaming Table
                    <p class="actbar"></p>
                </li>
                <li class="menu-li closeGamingTable-active" ng-click="active='closeGamingTable';setGlobalEvent('onCloseGamingTableClick')">
                    <i class="fa fa-lock  menu-icon" aria-hidden="true"></i>
                    Close Gaming Table
                    <p class="actbar"></p>
                </li>-->


                <!--<li class="menu-li patron-active" ng-click="active='patron';setGlobalEvent('onPatronClick')">
                    <i class="fa fa-align-justify   menu-icon" aria-hidden="true"></i>
                    Patron
                    <p class="actbar"></p>
                </li>-->
                <li class="menu-li pitStatusDisplay-active" ng-click="active='pitStatusDisplay';setGlobalEvent('onPitStatusDisplayClick');resetPage()" onclick="closeNav()">
                    <i class="fa fa-desktop  menu-icon" aria-hidden="true"></i>
                   {{appLiterals.APP.COMMON.MENU_NAME.PIT_STATUS}}
                    <p class="actbar"></p>
                </li>
            </ul>
        </div>
    </div>
</div>