 <div ng-controller="AppController as vm">
   <form novalidate>
    <h1>Formly Input</h1>
    <formly-form model="vm.rental" fields="masterForm.rentForm" form="vm.rentalForm">
        <button type="submit" class="btn btn-primary" ng-disabled="vm.rentalForm.$invalid">Submit</button>
    </formly-form>
   </form>
 </div>