<div class="need-finder-form-wrapper" ng-init="adjustGamingTable.getFormResponse(successResponse)">
        <div class="date-header row">
            <div class="col-sm-5 col-md-5 header-navbar">
                <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span>                
                <span>{{appLiterals.APP.ADJUST_TABLE.TITLE.PAGE_NAME}}</span>
            </div>
            <div class="col-sm-7 col-md-7 padding-zero">
                <div class="status-section">
                    <div class="step-sec step-active">
                        <div class="step-dot">
                        </div>
                        <div class="step-number step-number-active">
                            <p>You are here</p>
                        </div>
                    </div>
                    <div class="step-hr">
                        <hr>
                    </div>
                    <div class="step-sec">
                        <div class="step-dot">
                        </div>
                        <div class="step-number">
                            <p>Step 2</p>
                        </div>
                    </div>
                    <div class="step-hr">
                        <hr>
                    </div>
                    <div class="step-sec">
                        <div class="step-dot">
                        </div>
                        <div class="step-number">
                            <p>Step 3</p>
                        </div>
                    </div>
                    <div class="step-close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="init-height">
        </div>
        <div class="form-wrapper">
            <br />
            <br />
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-4 col-md-4">
                    <div class="analysis-heading">
                        <p>{{appLiterals.APP.ADJUST_TABLE.LABEL.TABLE_NO}}</p>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="group">
                        <input class="inputMaterial" type="text" required="">
                        <span class="highlight"></span>
                        <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.ENTER_TABLE_NUMBER}}</label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="">
                            <span class="highlight"></span>
                            <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.GAMING_DATE}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="">
                            <span class="highlight"></span>
                            <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.SHIFT_CODE}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 text-right">
                        <button class="grid-cont-btn" ng-click="adjustGamingTable.showTable()">{{appLiterals.APP.COMMON.BUTTON.NEXT}}</button>
                    </div>
                </div>

                <div class="row hideTable" id="adjustGameOpenTable">
                    <div class="col-sm-12 col-md-12">
                        <div class="analysis-heading">
                            <p>{{appLiterals.APP.ADJUST_TABLE.LABEL.TABLE_DETAILS}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <select class="date-dropdown browser-default">
                                    <option disabled="" value="Chip type">Chip type</option>
                                    <option selected="" value="Chip type1">Chip type1</option>
                                    <option value="Chip type2">Chip type2</option>
                                    <option value="Chip type3">Chip type3</option>
                                    <option value="Chip type4">Chip type4</option>
                                    <option value="Chip type5">Chip type5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.DenominationValue}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.DENOMINATION_VALUE}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.AmountForDenomination}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.AMOUNT_OF_DENOMINATION}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.QuantityForDenomination}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.QUANTITY_OF_DENOMINATION}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.GrandTotal}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.ADJUST_TABLE.LABEL.GRAND_TOTAL}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <button class="grid-cont-btn" ng-click="setEvent('onAdjustGameTableClick')">{{appLiterals.APP.COMMON.BUTTON.ADJUST}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<br>