<div class="need-finder-form-wrapper" ng-init="adjustGamingTable.getFormResponse(successResponse)">
        <div class="date-header row">
            <div class="col-sm-5 col-md-5 header-navbar">
                <span>Adjust Gaming Table Open</span>
            </div>
            <div class="col-sm-7 col-md-7 padding-zero">
                <div class="status-section">
                    <div class="step-sec step-active">
                        <div class="step-dot">
                        </div>
                        <div class="step-number step-number-active">
                            <p>You are here</p>
                        </div>
                    </div>
                    <div class="step-hr">
                        <hr>
                    </div>
                    <div class="step-sec">
                        <div class="step-dot">
                        </div>
                        <div class="step-number">
                            <p>Step 2</p>
                        </div>
                    </div>
                    <div class="step-hr">
                        <hr>
                    </div>
                    <div class="step-sec">
                        <div class="step-dot">
                        </div>
                        <div class="step-number">
                            <p>Step 3</p>
                        </div>
                    </div>
                    <div class="step-close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="init-height">
        </div>
        <div class="form-wrapper">
            <br />
            <br />
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-4 col-md-4">
                    <div class="analysis-heading">
                        <p>Table Number</p>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="group">
                        <input class="inputMaterial" id="adjustTableNo" type="text" ng-model="adjustTableNo">
                        <span class="highlight"></span>
                        <label>Enter Table Number </label>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" ng-model="adjustGameDate">
                            <span class="highlight"></span>
                            <label>Gaming Date</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" ng-model="adjustGameShiftCode">
                            <span class="highlight"></span>
                            <label>Shift Code</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 text-right">
                        <button class="grid-cont-btn" ng-click="setEvent('onFormClick')">Next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
<br>