<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MetlifeAdvisorApp">
        <wb-resource deploy-path="/" source-path="/apps/AdvisorApp/common"/>
        <property name="context-root" value="MetlifeAdvisorApp"/>
    </wb-module>
</project-modules>
