<div class="need-finder-form-wrapper" ng-init="postRating.getFormResponse(successResponse)">
       <div class="date-header row">
     <div class="col-sm-5 col-md-5 header-navbar">
         <span>{{appLiterals.APP.CREDIT_REQUEST.TITLE.PAGE_NAME}}</span>
     </div>
     <div class="col-sm-7 col-md-7 padding-zero">
       <div class="status-section">
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 1</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 2</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>You are here</p>
             </div>
          </div>
          <div class="step-close">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
   <div class="init-height">
      </div>
     </div>
      <div class="card mar-30">
          <div class="table-details">
              <table class="striped">
                  <thead class="text-center">
                      <tr>
                          <!--<th class="text-center">{{appLiterals.APP.CREDIT_REQUEST.LABEL.S_NO}}</th>-->
                          <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_DETAILS}}</th>
                          <th class="text-center" data-field="name">{{appLiterals.APP.CREDIT_REQUEST.LABEL.VALUES}}</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          <!--<td class="text-center">1</td>-->
                          <td class="text-center">Chip Set</td>
                          <td class="text-center">67</td>
                      </tr>
                      <tr>
                          <!--<td class="text-center">2</td>-->
                          <td class="text-center">Chip Denom</td>
                          <td class="text-center">Immediate</td>
                      </tr>
                      <tr>
                          <!--<td class="text-center">3</td>-->
                          <td class="text-center">Chip Quantity</td>
                          <td class="text-center">134</td>
                      </tr>
                      <tr>
                          <!--<td class="text-center">4</td>-->
                          <td class="text-center">Chip Amount</td>
                          <td class="text-center">30,000</td>
                      </tr>
                  </tbody>
              </table>


          </div>
      </div>
     <div class="success-pit mar-auto">
        <img src="images/success.png">
        <h3>{{appLiterals.APP.CREDIT_REQUEST.MSG.SUCCESS}}!</h3>

        <h5>{{appLiterals.APP.CREDIT_REQUEST.MSG.REQUEST_SUCCESSFULLY}}</h5>
        <br>
         <button class="btn btn-pit  waves-effect waves-light" type="submit" name="action"ng-click="setGlobalEvent('onFinishClick')">
                 {{appLiterals.APP.COMMON.BUTTON.FINISH}}
        </button><br /><br />
      </div>