<div class="need-finder-form-wrapper">
       <div class="date-header row">
     <div class="col-sm-5 col-md-5 header-navbar">
         <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span> 
       <span>{{appLiterals.APP.CREDIT_REQUEST.TITLE.PAGE_NAME}}</span>
     </div>
     <div class="col-sm-7 col-md-7 padding-zero">
       <div class="status-section">
          <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>You are here</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 2</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 3</p>
             </div>
          </div>
          <div class="step-close" id="logOut" ng-click="setGlobalEvent('onlogOutClick')">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
   <div class="init-height">
      </div>
      <br/>
      <div class="row mar-10">
          <div class="col-sm-12 col-md-12">
            <div class="col-sm-3 col-md-3 zero-padding">
                <div class="analysis-heading">
                  <p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.TABLE_NO}}</p>
                </div>
            </div>
             <div class="col-sm-6 col-md-6">
                <div class="group">      
                  <input class="inputMaterial" type="text" value="133" required value="{{postRating.pageData.personalDetails.residenence}}">
                  <span class="highlight"></span>
                  <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.ENTER_TABLE_NUMBER}}</label>
                </div>
             </div>
              <div class="col-sm-3 col-md-3 text-right">
                  <button class="grid-cont-btn ng-binding" ng-click="postRating.showTable()">{{appLiterals.APP.COMMON.BUTTON.SUBMIT}}</button>
              </div>
      </div>
      </div>
      <div class="card mar-30">
     <div class="table-details small-font">
         <div class="{{tabActive}}">
         <table class="striped">
        <thead class="text-center">
          <tr>
              <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_NUMBER}}</th>
              <th class="text-center" data-field="name">{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_TYPE}}</th>
               <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.PRIORITY}}</th>
              <th class="text-center" data-field="name">{{appLiterals.APP.CREDIT_REQUEST.LABEL.TOTAL_CHIP_AMOUNT}}</th>
               <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.CREATED_BY}}</th>
              <th class="text-center" data-field="name">{{appLiterals.APP.CREDIT_REQUEST.LABEL.CREATED_DATE_TIME}}</th>
              <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_STATUS}}</th>
          </tr>
        </thead>

        <tbody>
          <tr class="first-table-tab" ng-click="tabActive='first'">
            <td class="text-center">66</td>
            <td class="text-center">Immediate</td>
            <td class="text-center">High</td>
            <td class="text-center">$ 1000</td>
            <td class="text-center">Antony</td>
            <td class="text-center">12-06-2016 13:00</td>
            <td class="text-center">In progress</td>

          </tr>
          <tr class="second-table-tab" ng-click="tabActive='second'">
            <td class="text-center">67</td>
            <td class="text-center">Immediate</td>
            <td class="text-center">Low</td>
            <td class="text-center">$ 800</td>
            <td class="text-center">Adam</td>
            <td class="text-center">12-06-2016 13:00</td>
            <td class="text-center">Initiated</td>
          </tr>
           <tr class="third-table-tab" ng-click="tabActive='third'">
            <td class="text-center">73</td>
            <td class="text-center">Immediate</td>
            <td class="text-center">High</td>
            <td class="text-center">$ 4000</td>
            <td class="text-center">Michael</td>
            <td class="text-center">06-07-2016 13:00</td>
            <td class="text-center">In progress</td>

          </tr>
          <tr class="fourth-table-tab" ng-click="tabActive='fourth'">
            <td class="text-center">76</td>
            <td class="text-center">Immediate</td>
            <td class="text-center">Low</td>
            <td class="text-center">$ 5600</td>
            <td class="text-center">Mathew</td>
            <td class="text-center">21-05-2016 02:00</td>
            <td class="text-center">Completed</td>

          </tr>
        </tbody>
      </table>
     </div>

     
     </div>
      </div>
     <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="col-sm-4 col-md-4 text-center">
                <button class="btn btn-pit waves-effect waves-light" ng-click="setGlobalEvent('oncreditRequestAnalysisClick')" type="submit" name="action">
                 {{appLiterals.APP.COMMON.BUTTON.REQUEST}}
                </button>
             </div>
             <div class="col-sm-4 col-md-4 text-center">
                <button class="btn btn-pit waves-effect waves-light" ng-click="setEvent('onVideoClick')" type="submit" name="action">
                 {{appLiterals.APP.COMMON.BUTTON.ACKNOWLEDGE}}
                </button>
             </div>
             <div class="col-sm-4 col-md-4 text-center">
                <button class="btn btn-pit waves-effect waves-light" type="submit" name="action">
                 {{appLiterals.APP.COMMON.BUTTON.UPGRADE_PRIORITY}}
                </button>
             </div>
      </div>
     </div>
  </div>
</div>
  <br>