<div class="need-finder-form-wrapper" ng-init="postRating.getFormResponse(successResponse)">
       <div class="date-header row">
     <div class="col-sm-5 col-md-5 header-navbar">
       <span>{{appLiterals.APP.CREDIT_REQUEST.TITLE.PAGE_NAME}}</span>
     </div>
     <div class="col-sm-7 col-md-7 padding-zero">
       <div class="status-section">
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 1</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
           <div class="step-sec step-active">
             <div class="step-dot">
             </div>
             <div class="step-number step-number-active">
                <p>You are here</p>
             </div>
          </div>
          <div class="step-hr">
            <hr>
          </div>
          <div class="step-sec">
             <div class="step-dot">
             </div>
             <div class="step-number">
                <p>Step 3</p>
             </div>
          </div>
          <div class="step-close">
             <i class="fa fa-times" aria-hidden="true"></i>
          </div>
       </div>
     </div>
   </div>
   <div class="init-height">
      </div>
      <br/>
      <div class="row mar-10">
          <div class="col-sm-12 col-md-12">
						<div class="col-sm-4 col-md-4">
						  <div class="analysis-heading">
								<p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.TABLE_NUMBER}} : <span class="normal-font">133</span></p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<div class="analysis-heading">
                                <p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_TYPE}} : <span class="normal-font">Immed</span></p>
							</div>
						</div>
							<div class="col-sm-4 col-md-4">
							<div class="analysis-heading">
                                <p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.PRIORITY}} :<span class="normal-font">High</span></p>
							</div>
						</div>
							<div class="col-sm-4 col-md-4">
							<div class="analysis-heading">
                                <p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.TOTAL}} : <span class="normal-font">10,000</span></p>
							</div>
						</div>
							<div class="col-sm-4 col-md-4">
							<div class="analysis-heading">
                                <p>{{appLiterals.APP.CREDIT_REQUEST.LABEL.GRAND_TOTAL}} :<span class="normal-font">30,000</span></p>
							</div>
						</div>
      </div>
      </div>
      <div class="card mar-30">
     <div class="table-details">
         <table class="striped">
        <thead class="text-center">
          <tr>
              <!--<th class="text-center">{{appLiterals.APP.CREDIT_REQUEST.LABEL.S_NO}}</th>-->
              <th class="text-center" data-field="id">{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_DETAILS}}</th>
              <th class="text-center" data-field="name">{{appLiterals.APP.CREDIT_REQUEST.LABEL.VALUES}}</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <!--<td class="text-center">1</td>-->
            <td class="text-center">Chip Set</td>
            <td class="text-center">67</td>
          </tr>
          <tr>
            <!--<td class="text-center">2</td>-->
            <td class="text-center">Chip Denom</td>
            <td class="text-center">Immediate</td>
          </tr>
          <tr>
            <!--<td class="text-center">3</td>-->
            <td class="text-center">Chip Quantity</td>
            <td class="text-center">134</td>
          </tr>
          <tr>
            <!--<td class="text-center">4</td>-->
            <td class="text-center">Chip Amount</td>
            <td class="text-center">30,000</td>
          </tr>
        </tbody>
      </table>

     
     </div>
      </div>
     <div class="row">
       <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6 text-center">
              <button class="btn btn-pit waves-effect waves-light" type="submit" name="action">
                  {{appLiterals.APP.COMMON.BUTTON.REQUEST}}
              </button>
             </div>
             <div class="col-sm-6 col-md-6 text-right">
                 <button class="btn btn-pit waves-effect waves-light" type="submit" name="action">
                     {{appLiterals.APP.COMMON.BUTTON.CANCEL}}
                 </button>
             </div>
      </div>
     </div>
		  <br/><br/>
     <div class="row">
        <div class="col-sm-12 col-md-12">
          <!--<div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="Immediate">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.REQUEST_TYPE}}</label>
            </div>
          </div>-->
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <select class="date-dropdown browser-default">
                        <option selected="" disabled="" value="Request type">Request type</option>
                        <option value="Immediate">Immediate</option>
                        <option value="Abc">Abc</option>
                        <option value="Xyz">Xyz</option>
                    </select>
                </div>
            </div>
          <!--<div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="High">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.PRIORITY}}</label>
            </div>
          </div>-->
            <div class="col-sm-4 col-md-4">
                <div class="group">
                    <select class="date-dropdown browser-default">
                        <option selected="" disabled="" value="Request type">Priority</option>
                        <option value="Low">Low</option>
                        <option value="High">High</option>
                        <option value="Intermediate">Intermediate</option>
                    </select>
                </div>
            </div>
          <div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="10,000">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.TOTAL}}</label>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="10">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.CHIP_SET}}</label>
            </div>
          </div>
          <!--<div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="25">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.CHIP_DENOM}}</label>
            </div>
          </div>-->

        <div class="col-sm-4 col-md-4">
            <div class="group">
                <select class="date-dropdown browser-default">
                    <option selected="" disabled="" value="Request type">Chip Denom</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>

          <div class="col-sm-4 col-md-4">
            <div class="group">
              <input class="inputMaterial" type="text" required value="100">
              <span class="highlight"></span>
              <label>{{appLiterals.APP.CREDIT_REQUEST.LABEL.CHIP_QUANTITY}}</label>
            </div>
          </div>
        </div>
       <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6 text-center">
             </div>
             <div class="col-sm-6 col-md-6 text-right">
                <button class="btn btn-pit waves-effect waves-light" ng-click="setGlobalEvent('onRequestClick')" type="submit" name="action">
                 {{appLiterals.APP.COMMON.BUTTON.SUBMIT}}
                </button>
             </div>
      </div>
  </div>
</div>
  <br>