<div class="need-finder-form-wrapper" ng-init="postRating.getFormResponse(successResponse)">
    <div class="date-header row">
        <div class="col-sm-5 col-md-5 header-navbar">
            <span>{{appLiterals.APP.ADJUST_TABLE.TITLE.PAGE_NAME_2}}</span>
        </div>
        <div class="col-sm-7 col-md-7 padding-zero">
            <div class="status-section">
                <div class="step-sec">
                    <div class="step-dot">
                    </div>
                    <div class="step-number">
                        <p>Step 1</p>
                    </div>
                </div>
                <div class="step-hr">
                    <hr>
                </div>
                <div class="step-sec">
                    <div class="step-dot">
                    </div>
                    <div class="step-number">
                        <p>Step 2</p>
                    </div>
                </div>
                <div class="step-hr">
                    <hr>
                </div>
                <div class="step-sec step-active">
                    <div class="step-dot">
                    </div>
                    <div class="step-number step-number-active">
                        <p>You are here</p>
                    </div>
                </div>
                <div class="step-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="init-height">
    </div>
    <div class="success-pit">
        <img src="images/success.png">
        <h3>{{appLiterals.APP.ADJUST_TABLE.MSG.SUCCESS}}!</h3>
        <h5>{{appLiterals.APP.GAMING_TABLE.MSG.TABLE_OPEN_SECCESS}}</h5>
        <br>
        <button class="btn btn-pit  waves-effect waves-light" type="submit" name="action" ng-click="setGlobalEvent('onFinishClick')">
            {{appLiterals.APP.COMMON.BUTTON.FINISH}}
        </button>
    </div>
</div>
<br>