@import "theme";
@import "bootstrap";
@import "fontawesome";
@import "calendar";

*::-webkit-scrollbar{
  display: none;
}
h1,h2,h3,h4,h5,p{
	margin:0;
}
thead{
  font-weight: bold !important;
}
.row{
	margin: 0 !important;
}
body{
	margin:0;
	padding:0;
	font-family:$font-family;
    background:$primary-font-color!important;
}
.zero-margin{
	margin:0 !important;
}
.zero-padding, .padding-zero {
    padding: 0 !important;
}
.menu-wrapper{
	height:100vh;
	background: $primary-color;
	/*position: fixed;*/
    /*width: 25%;*/
}
.menu-header{
	color:$primary-font-color;
	padding: 1rem 0 3rem 0;
	width: 100%;
	margin: 0 auto;
}
.menu-ul {
padding: 0rem 2rem;
color: #b5afaf;
}
.menu-li{
list-style: none;
font-size: $font-menu-size;
padding: .76rem 0;
border-bottom: 1px solid $menu-inactive-color;
outline:none;
color: $primary-font-color;
opacity: 0.5;
position: relative;
}
.menu-ul li:last-child{
	border-bottom:none;
}
.customer-history{
  height: 191px;
overflow: scroll;
}
.history-input{
  border: 0;
background: transparent;
outline: 0;
}
.search-history{

background: #EEE;
padding: 10px;
}
.search-section {
height: 6rem;
padding: .5rem 0;
box-shadow: 0px 1px 22px 0px rgb(226, 221, 221);
}
.menu-icon{
	padding-right:1rem;
  font-size: 30px;
}

.nav-icon-size{
      color: #fff;
    font-size: 25px;
}
.lang-btn{
  background: rgb(2, 98, 174);
border: 1px solid #fff;
outline: none;
font-size: 15px !important;
}
.nav-ul-li{
      float: left;
    padding: 0 15px;
}
.nav-ul {
  width: 357px;
  padding-left: 40px;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
}
.search-icon {
font-size: 2rem;
color: grey;
float: left;
height: 50px;
display: flex;
align-items: center;
padding-right:1rem;
}
.search-input{
	width: 70%;
height: 40px;
border: none;
outline: none;
font-size: 2rem;
}
.search-field{
	padding:5px;
}
.user-img-size{
	width: 35px;
}
.user-img{
	height: 5rem;
display: flex;
    float: left;
align-items: center;
}
.user-name{
	padding-left: 4px;
}
.picker-name {
width: 200px;
border: none;
font-size: $font-primary-size;
outline: none;
color: $secondary-font-color;
}
.user-name-cont{
	height: 5rem;
padding: 3px 0;
}
.notify-icon-ul{
	margin:0;
	padding:0;
	display:flex;
	height:5rem;
	align-items:center;
}
.notify-icon-ul li {
list-style: none;
font-size: 2rem;
float: left;
width: 50%;
}
.btn-pit-success{
  background: rgb(103, 193, 0) !important;
}
.success-pit{
  width: 60%;
margin: 90px auto;
text-align: center;
}
.notify-count {
position: absolute;
z-index: 11;
top: 5px;
left: 22px;
font-size: 1.5rem;
background: $primary-color;
color: $primary-font-color;
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
}
.date-header{
	height:80px;
  z-index:111;
  position:fixed;
	width:100%;
	background:$secondary-color;
	color:$primary-font-color;
	padding: 10px 0 0 24px;
}
.select-table{
  height: 55px;
font-size: 18px;
}
.btn-pit {
height: 60px !important;
line-height: 60px !important;
width: 200px;
background: #0262ae !important;
border-radius: 30px !important;
outline:0 !important;
}
.init-height{
  height:80px;
}
.date-header span {
font-size: 1.8rem;
font-weight: bold;
}
.left-cont{
	padding: 0 0 15px !important;
	border-right:$primary-border;
  height:370px;
}
.margin-10{
  margin: 10px 0px;
}
.time-wrap{
	padding: 0 !important;
    height: 50px;
    background: #eee;
    border-bottom: 1px solid #a5a5a5;
}
.circle-wrap{
	width: $font-third-size;
    height: $font-third-size;
    float: left;
    background: red;
    border-radius: 50%;
    margin-left: 10px;
}

.follow-bg{
  background:#a4d8f0 !important;
}
.circle-txt{
	font-size: $font-third-size;
    font-weight: bold;
}
.hr-icon{
	font-size: 30px;
    line-height: 50px !important;
}
.time-scroll{
	    height: 312px;
    overflow-y: scroll;
}
.time-scroll::-webkit-scrollbar{
	display: none;
}
.time-txt{
	font-size: $font-primary-size;
    margin: 0 0 2px;
    font-weight: bold;
}
.rem-txt{
	font-size: $font-third-size;
	color: #999;
	margin: 0 !important;
}
.mt-3{
	margin-top: 3px;
}
.ml-25{
	margin-left: 25px !important;
}
.first-half{
	margin: 1em 0 0 !important;
    background: #fff;
    position: relative;
    webkit-box-shadow: 1px -1px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px -1px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 1px -1px 17px 0px rgba(0,0,0,0.75);
}

.map-wrap{
	position: absolute;
    width: 100%;
}
.map-wrap img{
	width: 100%;
    height: 350px;
}
.second-half{
	background-color: #f0f0f0;
	padding-bottom: 15px;
}
.stock-wrap{
	 position: relative;
    height: 11rem;
    width: 95%;
    background: #fff;
    margin: -40px auto 0;
    box-shadow: 0 3px 25px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding:10px;
}
.stock-cont{
	width: 25%;
    float: left;
    height: 100%;
    padding: 20px 8px;
    position: relative;
}
.stock-name{
	font-size: $font-third-size;
    color: $primary-color;
}
.stock-amt {
font-size: 12px;
color: #000;
font-weight: bold;
float: left;
}
.stock-arrow{
	font-size: 21px;
font-weight: normal;
margin-right: 5px;
float: left;
margin-left: 5px;
margin-top: -4px;
}
.success-msg{
  height: 50px;
background: rgb(122, 152, 22);
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}
.color-green{
  color: green;
}
.color-red{
  color:red;
}
.stock-per{
font-size: 10px;
float: left;
}
.stock-div{
	position: absolute;
    height: 30%;
    border: 1px solid #a5a5a5;
    top: 30px;
    right: 5px;
}
.recent-wrap{
	margin: 0 20px;
}
.recent-txt{
	font-size: $font-primary-size;
    margin: 15px 0;
    font-weight: bold;
    color: $secondary-font-color;
}
.news-wrap{
    position: relative;
    padding: 0 !important;
    margin-right: 15px;
    width: 31% !important;
}
.policy-success{
  display:none;
}
.news-cont{
    color: $secondary-font-color;
    background: #fff;
    padding: 10px;
    width: 100%;
  position: relative;
  height: 43px;
  overflow-y: scroll;
  margin-bottom: 1em;
}

.news-wrap img{
  width: 100%;
  height: 108px;
}
.date-header{
	height:80px;
	width:100%;
	background:$secondary-color;
	color:$primary-font-color;
	padding: 10px 0 0 24px;
    /*left:321px;*/
}
.normal-font{
	font-weight:normal !important;
}
.creditRequest-msg {
font-size: 12px;
display: flex;
height: 80px;
align-items: center;
justify-content: center;
font-weight: bold;
}
.creditRequest-msg-list{
	margin:0;
}
.creditRequest-msg-list li{
	width:33%;
	padding:1rem;
	float:left;
	list-style:none;
	border-right:1px solid grey;
}
.creditRequest-msg-list li:last-child{
	boarder-right:none;
}
.creditRequest-header{
	background:$secondary-color;
	color:$primary-font-color;
}
.graph-section {
margin: 0 40px;
height: 350px;
}
.graph-section-heading {
display: flex;
align-items: center;
height: 73px;
border-bottom: 1px solid silver;
}
.graph-section-heading span{
	font-weight:bold;
}
.padge-size{
	width:55px;
}
.graph-data{
	padding:15px 0;
}
.go-btn-section{
	display:flex;
	align-items:center;
	justify-content:center;
  outline:none;
	height:80px;
}
.creditRequest-go-btn{
	width: 100px;
height: 35px;
outline:none;
border-radius: 20px;
border: none;
	background:#fff;
color:#000;
}
.creditRequest-logo {
height: 80px;
padding: 20px 0;
}
.creditRequest-logo-span1{
	font-size:1.2rem;
}
.creditRequest-logo-p{
	font-size: 1.5rem;
font-weight: bold;
color: #F0980E;
}
.data-first-h{
padding: 5px 0;
color: $primary-color;
font-weight:bold;}
.data-second h2{
	padding:5px 0;
}
.data-first{
	margin:16px 0;
}
.curr-icon{
	float: left;
font-size: 3rem;
padding-top: 5px;
}
.goal-date{
font-size: 14px;
}
.creditRequest-grid {
background: #F5F5F5;
padding: 30px 10px;
color: $secondary-font-color;
}
.grid-header {
margin: 15px 0 0 0;
padding: 20px;
background: $tertiary-color;
color:$primary-font-color;
}
.grid-container {
    background: #fff;
    color: #000;
    padding: 10px 0;
    height: 300px;
}
.cont-pading{
  height: 98%;
overflow: scroll;
overflow-x: hidden;
}
.co-pading{
  height:90px;
}
.pading-grid{
  padding:10px 15px;
}
.grid-detail{
  float: right;
margin-left: 22px;
margin-top: -13px;
}
.grid-dot{
  width: 10px;
height: 10px;
background: red;
border-radius: 50%;
float: left;
margin-right: 5px;
}
.grid-container-h{
font-size: 24px;
padding: 10px 0 0 0;
color: #3397D9;
}
.grid-container-p{
	color:#3397d9;
}
.pad15, .padb15{
  padding: 15px 0;
}
.padb15{
  border-bottom:1px solid #999;
}
.grid-cont-border{
	border-right: 1px solid rgb(224, 224, 226);
}
.cont-scroll{
     height: 333px;
padding: 0;
overflow: scroll;
}
.grid-container span{
	color:grey;
}
.grid-header-h{
	font-size: $md-font-size;
}

.grid-padding{
	padding:0 10px;
}

.customer-count{
  color:#3397D9;
  font-size:12px;
}
 .modal-backdrop{
   z-index:1111;
 }
 .modal{
 z-index:11111;
 }
 .modal-dialog{
   height:100%;
   margin:0 auto;
 }
 .sec-font{
   font-size:$font-secondary-size !important;
 }
 .pop-up-close{
  position: absolute;
right: 23px;
top: 13px;
color: #fff;
font-size: 35px;
 }
 .modal-content {
top: 12%;
height: 580px;
border-radius: 0;
}
.analysis-heading{
padding: 10px 0 25px 15px;
	font-size: $font-menu-size;
	font-weight: bold;
}
.modal-txt{
  padding:20px;
}
.pop-up-content{
  padding:10px 0;
}
.pop-up-heading{
  padding: 10px 0;
border-bottom:$primary-border;
}
.sell-ratio-p{
	font-size:$font-primary-size;
}
.sell-ratio-ul {
padding: 28px 16px;
margin: 43px 0;
}
.sell-ratio-li{
	font-size:$font-secondary-size;
}
.font-bold{
	font-weight:bold;
}
.extra-margin{
  margin: 46px 0;
}
.policy-count-p{
	font-size:60px;
	font-weight:bold;
	color:$primary-color;
}
.policy-p{
	font-size:$font-primary-size;
	font-weight:bold;
	float:left;
}
.policy-span{
	font-size:$font-secondary-size;
	font-weight:normal;
}
.analysis-first-section{
	padding: 10px 20px 20px 20px;
}
.analysis-second-section{
	background: #F5F5F5;
padding: 30px 10px 30px 20px;
}
.progress-level-p{
	font-size: $font-primary-size;
  font-weight: bold;
  color: $primary-color;
}
.progress-level-span{
	font-size:$font-third-size;
}
.member-gold{
	float: left;
width: 50%;
border-bottom: 3px solid $primary-color;
padding: 0 0 16px 0px;
}
.badge-gold-size{
	width:40px;
	float:left;
}
.gold-cont{
border-right: 2px solid rgb(207, 206, 206);
	height: 30px;
display: flex;
align-items: center;
}
.platinum-cont{
	height: 30px;
 display: flex;
 align-items: center;
}
.member-platinum{
	border-bottom: 1px solid rgb(207, 206, 206);
	padding: 0 0 16px 0px;
	width:50%;
	float:right;
}
.avg-progress{
	height: 25px;
width: 131px;
}
.avg-prog-div{
	height: 8px;
width: 69px;
float: right;
border: 1px solid grey;
margin-top: 4px;
border-radius: 6px;
}
.avg-prog-span{
	margin-left:-82px;
}
.prog-width{
	height: 100%;
width: 40%;
background: rgb(242, 69, 69);
}
.progress-sec{
	width: 60%;
height: 120px;
float: right;
border-right: 1px solid rgb(218, 217, 217);
}
.prog-first{
	height: 10px;
width: 70%;
background: rgb(39, 216, 39);
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-bottom: 10px;
position:relative;
}
.prog-first-value{
	position: absolute;
right: -38px;
top: -4px;
font-weight: bold;
color: rgb(39, 216, 39);
}

.policy-list {
width: 100%;
float: left;
padding-top: 27px;
text-align: center;
}
.progress-container {
margin: 35px 0 10px 0;
border-left: 1px solid rgb(174, 174, 174);
}
.prog-second{
	height: 10px;
width: 33%;
background: $primary-color;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
position:relative;
margin-bottom: 10px;
}
.prog-second-value{
	position: absolute;
right: -38px;
top: -4px;
font-weight: bold;
color: $primary-color;
}

.prog-third{
	height: 10px;
width: 12%;
background: red;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-bottom: 10px;
position:relative;
}

.prog-third-value{
	position: absolute;
right: -38px;
top: -4px;
font-weight: bold;
color: red;
}
.creditRequest-msg-p{
	color:rgb(211, 209, 209);
}
.creditRequest-msg-span{
	font-weight:bold;
	color:#fff;
}
.grid-header-h {
font-size: 24px;
color: rgb(226, 223, 223);
}
.creditRequest-grid-p{
	padding: 0 10px;
	font-size:$font-third-size;
}
.ulip-count{
	color:rgb(247, 58, 58);
}
.grid-li-h{
	font-weight: bold;
    font-size:$font-secondary-size;
}
.grid-cont-train{
	margin: 10px;
border-bottom: 1px solid rgb(200, 196, 196);
padding-bottom: 10px;
}
.grid-cont-train-h{
	font-size:$font-third-size;
	font-weight:bold;
}
.grid-insurance{
		margin: 10px;
	font-size: $font-third-size;
	padding: 0 0 10px 0;
	font-weight: bold;
	color: $primary-color;
	border-bottom: 1px solid rgb(200, 192, 192);
}
.grid-cont-bottom {
    padding: 10px 0;
   height: 90px;
}
.cont-padding{
  height: 96%;
overflow: scroll;
overflow-x: hidden;
}
.grid-cont-bottom-h{
	font-weight: bold;
padding: 24px 0;
font-size: 18px;
line-height: 24px;
}
.grid-cont-btn{ 
width: 70%;
border-radius: 30px;
border: none;
padding: 15px;
font-size: 16px;
background:#0262AE;
outline: none;
color: #fff;
}
.btn-outline{
  background: transparent;
 border: 1px solid $primary-color;
 color: $primary-color;
}
.table-details{
    /*margin: 20px auto;*/
    margin: 110px auto;
    font-size: 18px;
    width: 100%;
}
div.first .first-table-tab{
   background: rgb(2, 98, 174) !important;
   transition:all .3s;
   color: #fff;
}
div.second .second-table-tab{
   background: rgb(2, 98, 174) !important;
   transition:all .3s;
   color: #fff;
}
div.third .third-table-tab{
   background: rgb(2, 98, 174) !important;
   transition:all .3s;
   color: #fff;
}
div.fourth .fourth-table-tab{
   background: rgb(2, 98, 174) !important;
   transition:all .3s;
   color: #fff;
}
.mar-auto{
  margin:0 auto !important;
}
.small-font{
  font-size:17px !important;
}
.mar-20{
  margin:20px !important;
}
.mar-10{
  margin:10px 0 !important;
}
.mar-30{
  margin:0 30px !important;
}
.customer-head-h{
	    font-size: 26px;
    font-weight: bold;
    color: $primary-color;
}
.customer-header-cont {
    padding: 30px 0px 65px;
    margin: 0 5px;
    border-bottom: 1px solid #e2e1e1;
}
td{
  text-align:center;
}
.customer-loc{
	font-weight: bold;
    font-size: $font-secondary-size;
    padding: 10px 0;
}
.customer-details-p{
	color:$quaternary-color;
	font-size: $font-third-size;
    margin: 10px 0;
}

.customer-details-r{
	color:$quaternary-color;
	font-size: $font-third-size;
        margin: 0 0 31px 0;
}
.customer-details-h{
    margin: 10px 0;
    font-weight:bold;
}
.address-btn{
	    width: 80%;
    margin: 10px 0;
    padding: 8px;
}
.cust-address{
	font-size: $font-secondary-size;
    margin: 10px 0 0 0;
}
.cust-qual{
	    padding: 15px 0;
}
.cust-right-p{
	padding: 0 0 15px;
}
.plan-likes{
	font-size:$xs-font-size;
	color:$primary-color;
}
.feedback-img{
	width: 38px;
}
.plan-feedback{
	height: 60px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.feed-cmt{
	font-size:$xs-font-size;
}
.plan-name{
	    padding: 10px 10px 0 10px;
}
.read-more{
	float: right;
    color: $primary-color;
    padding: 0 10px;
}
.invest-grid-content{
	    height: 283px;
    box-shadow: 1px 1px 52px 1px #e4e4e4;
}
.invest-grid-head{
	    font-size: $font-secondary-size;
    padding: 30px 17px;
    font-weight: bold;
    border-top:$primary-border;
}

.right-menu{
	position: fixed;
    height: 100%;
    width: 25%;
    background: #fff;
    z-index: 1;
    right: -26%;
    top: 6rem;
    box-shadow: 1px 7px 15px 1px #444;
    -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.toggle-open{
  right:0 !important;
}
.potential-wrap {
padding: 0;
background: rgb(233, 237, 241);
box-shadow: 0px 10px 68px 0px rgb(233, 237, 241);
}
.potential-tab{
	padding: 0;
    background: #eee;
    border-radius: 20px;
    width: 90%;
    margin: 20px auto 12px;
    list-style-type: none;
    height: 30px;
    border:1px solid $primary-color;
}
.act-tab{
	width: 50%;
    float: left;
    background: $primary-color;
    border-radius: 20px;
    color: $primary-font-color;
    font-size: $font-secondary-size;
    padding: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
.unact-tab{
	width: 50%;
    float: left;
    border-radius: 20px;
    color: $primary-color;
    font-size: 16px;
    padding: 4px;
    text-align: center;
}
.potential-info {
text-align: center;
color: #919090;
padding:10px;
}
.potential-day{
	text-align: right;
    color: #999;
    margin-top: 5px;
}
.chat-wrap{
	width: 100%;
	height:100%;
}
.chart-container{
  margin:35px 0;
}
.change-per{
	color: $primary-color;
    font-size: 25px;
    font-weight: bold;
}
.change-txt{
	font-size: $font-third-size;
    color: $primary-color;
}
.contact-wrap{
	margin: 15px 0;
    border-left: 1px solid #444;
}
.hr{
	width: 100%;
    border-bottom: 1px solid #a5a5a5;
    clear: both;
}
.contact-scroll{
	/*position: fixed;
    top: 140px;
    height: 440px;
    overflow-y: scroll;*/

  position: relative;
  height: 440px;
  width: 100%;
  overflow-y: scroll;

}
.hdphone{
	text-align: center;
    font-size: 30px;
}
.vd-wrap{
	position: fixed;
    height: 40px;
    background: #eee;
    bottom: 0;
    width: 25%;
    z-index:1111;
}
.border{
	border: none;
}
.search-txt{
	background: #eee;
	border: none;
}
.potential-loads{
      height: 350px;
overflow: scroll;
width: 100%;
}
.vd-bg{
      box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.75);
    height: 270px;
    overflow:scroll;
}
.vd-scroll{
      position: fixed;
    width: 25%;
    overflow-y: scroll;
    height: 260px;
}
#burger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 45%;
  background: $secondary-font-color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#burger span:nth-child(1) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(3) {
  top: 29px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  left: 5px;
}

#burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 29px;
  left: 5px;
}
.fixed-nav{
      position: fixed;
    height: 6rem;
    width: 75%;
    z-index: 1111;
    background: #fff;
    margin: -5px 0 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 11px 0px #a79b9b;
}
.relative-nav{
  position: relative;
    height: 6rem;
    width: 100%;
}
.finder-section-h{
      font-size: $md-font-size;
    color: $primary-color;
    font-weight: bold;
}
.finder-second-section{
      padding: 40px;
}
.primary-highlight{
  color:$primary-color;
  font-weight:bold;
}
.adhar-num-input{
      padding: 50px 0;
}

<!--Floating input css starts here-->


.box{
  position: relative;
  margin: auto;
  height: 410px;
  top: 40px;
  left: 0;
  z-index: 200;
  right: 0;
  width:400px;
  color:#666;
  border-radius: 3px;
  background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}


.box p{
  font-size:14px;
  text-align:center;
}

.group        { 
  position:relative; 
  margin-bottom: 35px; 
}

.login-page{
  position: fixed;
width: 100%;
z-index: 1111;
left: 0;
height:768px;
background: url('../images/casino.png');
}
.login-logo{
  text-align: center;
padding: 10px;
}

.inputMaterial{
  font-size:18px !important;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:$primary-border;
}
label{
  font-size:1.2rem !important;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  font-size:3rem;
}
.inputMaterial:focus    { outline:none;}

/* LABEL ======================================= */

label          {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:$secondary-color;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:$primary-color; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

div.home ul.menu-ul li.menu-li.home-active{
    color:$primary-font-color;
  opacity: 1 !important;

}

div.products ul.menu-ul li.menu-li.products-active{
    color:$primary-font-color;
  opacity: 1 !important;

}

div.finder ul.menu-ul li.menu-li.finder-active{
    color:$primary-font-color;
  opacity: 1 !important;

}
div.customers ul.menu-ul li.menu-li.customers-active{
    color:$primary-font-color;
  opacity: 1 !important;

}
div.creditRequest ul.menu-ul li.menu-li.creditRequest-active{
    color:$primary-font-color;
  opacity: 1 !important;
}
div.adjustGamingTable ul.menu-ul li.menu-li.adjustGamingTable-active{
    color:$primary-font-color;
  opacity: 1;
}
/*div.adjustGamingTableClose ul.menu-ul li.menu-li.adjustGamingTableClose-active{
    color:$primary-font-color;
  opacity: 1 !important;
}*/
div.openCloseGamingTable ul.menu-ul li.menu-li.openCloseGamingTable-active{
    color:$primary-font-color;
  opacity: 1 !important;
}
div.closeGamingTable ul.menu-ul li.menu-li.closeGamingTable-active{
    color:$primary-font-color;
  opacity: 1 !important;
}
div.pitStatusDisplay ul.menu-ul li.menu-li.pitStatusDisplay-active{
    color:$primary-font-color;
  opacity: 1 !important;
}
div.patron ul.menu-ul li.menu-li.patron-active{
    color:$primary-font-color;
  opacity: 1 !important;
}
div.customers ul.menu-ul li.menu-li.customers-active .actbar{
  display:block;
}
div.finder ul.menu-ul li.menu-li.finder-active .actbar{
  display:block;
}
div.creditRequest ul.menu-ul li.menu-li.creditRequest-active .actbar{
  display:block;
}
div.home ul.menu-ul li.menu-li.home-active .actbar{
  display:block !important;
}
div.adjustGamingTable ul.menu-ul li.menu-li.adjustGamingTable-active .actbar{
  display:block;
}
/*div.adjustGamingTableClose ul.menu-ul li.menu-li.adjustGamingTableClose-active .actbar{
  display:block;
}*/
div.pitStatusDisplay ul.menu-ul li.menu-li.pitStatusDisplay-active .actbar{
  display:block;
}
div.patron ul.menu-ul li.menu-li.patron-active .actbar{
  display:block;
}
div.openCloseGamingTable ul.menu-ul li.menu-li.openCloseGamingTable-active .actbar{
  display:block;
}
div.closeGamingTable ul.menu-ul li.menu-li.closeGamingTable-active .actbar{
  display:block;
}
.actbar{
    display:none;
    width: 5px;
    height: 38px;
    background: white;
    position: absolute;
    left: -24px;
    top: 7px;
}

.qr-image{
  width: 42px;
  float: left;
  padding-right:10px;
}
.vertical-center{
    display: flex;
    align-items: center;
}
.customer-img{
  width: 50px;
float: left;
margin-right: 16px;
margin-top: -6px;
}
.cake-img {
width: 24px;
position: absolute;
left: -17px;
top: 35px;
}
.location-img {
width: 22px;
position: absolute;
left: -16px;
top: 117px;
}
.cart-logo {
position: absolute;
color: #2a71bf;
right: 29px;
font-size: 40px;
top: 81px;
}.full-width{
  width:100%;
}
.pie-chart{
  width: 250px;
}
.step-dot{
  width: 10px;
height: 10px;
background: $primary-font-color;
border-radius: 50%;
margin: auto;
margin-bottom: 10px;
}
.status-section{
  height: 60px;
display: flex;
align-items: center;
}
.step-sec{
  opacity: .7;
}
.step-active{
  opacity:1;
}
.step-hr{
  width: 40px;
margin: 0 10px;
}
.step-close{
  width: 50px;
text-align: center;
font-size: 25px;
margin-left: 30px;
border-left: $primary-border;
}
.step-number{
  font-size:8px;
}
.step-number-active{
  font-size:12px;
}
.text-chat {
height: 95px;
background: #636667;
display: flex;
align-items: center;
position: fixed;
width: 100%;
bottom: 0;
}
.text-chat-input{
  width: 100%;
background: transparent;
font-size: $font-primary-size;
border: none;
outline: none;
color: $primary-font-color;
}
.chat-done {
position: absolute;
bottom: 40px;
right: 17px;
}
.success-ok{
  display:none;
  font-size: 95px;
position: absolute;
color:rgb(24, 218, 24);
right: 144px;
bottom: 95px;
}
.done-btn{
width: 120px;
height: 45px;
font-size: 16px;
border-radius: 22px;
border: none;
outline: none;
background: $primary-color;
color: $primary-font-color;
}
.tchat-icon{
  color: #fff;
font-size: 30px;
padding-left: 90px;
}

.term-checkbox{
  width: 20px;
height: 20px;
float:left;
}
.term-margin{
  margin-left: 35px;
margin-top: 3px;
}
.payment-form{
  padding:16px;
}
.proceed-padding{
  padding:40px 0 100px 0;
}
.position-rel{
  position:relative;
}
.card-img {
position: absolute;
right: 3px;
top: -7px;
width: 50px;
z-index: 111;
}
.date-dropdown {
width: 100%;
border: none;
outline: none;
font-size: 16px;
border-bottom: 2px solid gainsboro;
padding: 10px;
outline: 0 !important;
}
.box{
      max-width: 768px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    z-index: 1111111;
    position: absolute;
    width: 100%;
    top: -20px;
}
.swip{
  margin-top: 350px !important;
  transition: .25s ease-in-out;
}
.policy-txt{
  font-weight: bold;
font-size: 20px;
line-height: 30px;
}
.policy-details{
  padding: 26px 0 26px 26px;
border-bottom:$primary-border;
}
.pad-left{
  padding-left:0;
}
.profile-btn{
  margin:25px 0;
}
.loads-cont {
height: 70px;
display: flex;
align-items: center;
border-bottom: $primary-border;
margin: 14px 9px;
padding: 0;
width: 90%;
}
.chances-right{
  border-right:$primary-border;
}
.virtual-padding{
  padding: 15px;
border-bottom: $primary-border;
}
.virtual-icon{
  padding:15px;
}
.social-icon, .birth-icon{
  margin-left: 10px;
    color: $primary-color;
    font-size: $font-primary-size;
    margin-top: 6px;
}
.birth-icon{
  color: green;
}
.notif-txt{
  font-weight: bold;
    color: $secondary-font-color;
}
.primary-size{
  font-size: $font-primary-size !important;
}
.font12{
  font-size: 12px !important;
}
.accept-time, .reject-time{
  color: $primary-color;
    margin: 15px 0px 0;
    width: 25%;
    float: left;
}
.accept-time{
  border-right: 1px solid #999;
  clear: both;
}
.reject-time{
  margin-left: 15px;}
.chance-txt-p{
  font-size: 11px;
color: rgb(129, 128, 128);
}
.social-popup{
  padding: 25px;
}
.social-popup-heading{
  font-size: 21px;
border-bottom:$primary-border;
padding: 20px 0;
font-weight: bold;
color: $primary-color;
}
.social-popup-select{
  font-size: 20px;
margin: 24px 0;
padding:10px 0;
}
.social-popover-list {
list-style: none;
float: left;
width: 41px;
height: 41px;
background: #c8c6c6;
color: #fff;
text-align: center;
padding: 5px;
font-size: 23px;
margin: 23px 14px 0 0;
}
.social-icons{
  height: 140px;
}
.prime-bg{
  background:$primary-color !important;
}
.social-post{
  display:none;
  width:100%;
  height:100%;
  }
#loader{
  position: fixed;
    background: rgba(255, 255, 255, 0.51);
    height: 768px;
    width: 100%;
    z-index: 11111;
}
.loading-img{
  left: 45%;
    position: absolute;
    top: 45%;
    width: 54px;
}
.date-highlight{
  width: 8px;
height: 8px;
position: absolute;
background: $primary-color;
left: 50%;
margin-left: -4px;
top: -10%;
border-radius: 1px;
box-shadow: 1px 1px 1px 1px rgb(240, 240, 240);
}
.current-date{
  background: $primary-color;
width: 48px;
color: #fff;
line-height: 48px;
border-radius: 10px;
box-shadow: 1px 1px 5px 0px rgb(174, 173, 173);
}
.chart-home{
  margin: auto;
height: 420px;
padding: 21px 0;
}
.pie-section{
 width: 20px;
height: 20px;
border-radius: 50%;
float: left;
margin-left: 51px;
margin-right:12px;
}
.cone{
  background: #a0c223;
}
.ctwo{
  background: #3A97D3;
}
.share-buttn{
  float: left;
margin-right: 10px;
width: 50%;
color: #fff;
margin: 0;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 3px;
}
.fb-color{
  background: #3A5998;
}
.linkedin-color{
  background:#1D78AF;
}
.share-fb-btn{
position: absolute;
bottom: -15px;
width: 120px;
right: 20px;
height: 37px;
}
.fb-login-icon{
 float: left;
font-size: 23px;
margin-right: 10px;
margin-top: 3px;
}
.fb-login{
  margin: 20px;
width: 217px;
background: #3A5998;
padding: 5px 8px;
color: #fff;
float:left;
border-radius: 5px;
outline: 0;
}
.fb-login-txt{
  font-size: 16px;
margin: 3px;
}
.login-txt{
  margin: 30px;
font-size: 16px;
}
.dismiss-link{
  color: #fff;
position: absolute;
top: 75px;
right: 24px;
text-decoration: underline;
}
.header-navbar{
  height: 60px;
display: flex;
align-items: center;
}
.pad-15{
  padding: 30px 0 15px 0;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  box-shadow:none !important;
}
.disable-cursor{
  pointer-events:none;
}
.lang-text{
  display: block;
    padding: 3px 20px;
    clear: both;
    font-size: 1rem !important;
    font-weight:normal !important;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.menu-content li:hover, select:hover, table.striped{
    cursor:pointer;
}
.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu a {
  background-color: #999;
}
.submenu a:hover {
  background-color: #666;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    list-style: none;
    padding: 0;
    margin-left: 24px;
}
.submenu li{
    color: #fff;
    opacity: 0.5!important;
}
input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button{ /* Removes arrows */
    -webkit-appearance: none;
    margin: 0;
}
div.step-close:hover, .languageContainer li:hover {
    cursor:pointer;
    /*background-color:$primary-color;
    color:$primary-font-color;*/
}
.languageContainer ul{
    margin-left:15px;
}
.languageContainer button{
    width: 160px;
}
/*.form-wrapper{
    background:$primary-font-color;
}*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}