$primary-color: #354052;
$secondary-color: #0262AE;
$primary-font-color: #fff;
$secondary-font-color:#000;
$tertiary-color:rgb(85, 85, 85);
$font-family:arial;
$menu-inactive-color:rgb(181, 175, 175);

$font-menu-size: 18px;
$font-primary-size: $font-menu-size;
$font-third-size: 14px;
$font-secondary-size: 16px;
$lg-font-size:60px;
$md-font-size:24px;

$primary-border:1px solid #c7c7c7;
$xs-font-size:11px;
$quaternary-color:#a4a4a4;