
<!-- The following is included for maps -->
<div ng-show="loadMapFlag">
    <div class="full-page-screen"></div>
 
	<div class="confirmation-content-container">
	  <div class="message-box">                  
					  <p class="round-icon load-icon">
					  	<svg xmlns="http://www.w3.org/2000/svg" width="120" height="30" viewBox="0 0 120 30" fill="#fff">
						    <circle cx="15" cy="15" r="14.7232">
						        <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"/>
						        <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"/>
						    </circle>
						    <circle cx="60" cy="15" r="9.27682" fill-opacity="0.3">
						        <animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite"/>
						        <animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite"/>
						    </circle>
						    <circle cx="105" cy="15" r="14.7232">
						        <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"/>
						        <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"/>
						    </circle>
						</svg>
					  </p>            
				  <p class="desc-text ls">
				   {{appLiterals.APP.COMMON.FINLOC_DETPAGE.IMG_PROCESS}}
				  </p>
			  </div>
	  </div>
</div>

<div class="finacle-container map-header-gradient">


    <div id="map-wrapper">
        <fin-map id="map-wrapper" location="fields.selectedLocation"></fin-map>
    </div>

    <div class="map-back-wrap">
        <div class="map-grad">
        </div>
        <div class="back-arrow-wrap"
            ng-click='hideMarkerInfo();setGlobalEvent("onLocatorBackClick");'>
            <span class="app app-arrow back-arrow"></span>
        </div>
    </div>

    <div class="loc-info-wrap" ng-show="showMarkerInfoFlag" id="marker-info">

        <div>
            <div class="row info-detail-wrap">
                <div ng-click="hideMarkerInfo();" class="app app-cancel title-right"></div>
                <div class="col-sm-12 loc-km-wrap">
                    <p class="info-bank"> {{fields.selectedLocation.bank_name}} </p>
                    <p class="info-km"> {{fields.selectedLocation.distance.toFixed(2)}} KM </p>
                </div>
            </div>
        </div>

        <div class="bg-color">
                <div class="col-sm-12 loc-km-wrap">
                    <div class="glyphicon glyphicon-map-marker info-map-icon">
                    </div>

                    <div class="info-address-wrap">
                        <p class="info-address"> {{fields.selectedLocation.postal_address}}- {{fields.selectedLocation.zip_code}} </p>
                    </div>
                </div>

                <div class="col-sm-12 clear">
                    <div  class="glyphicon glyphicon-time info-map-icon" ></div>

                    <div class="info-address-wrap">
                        <p class="info-address"> {{appLiterals.APP.COMMON.FINLOC_DETPAGE.TXT_OPENOW}} </p>
                        <p class="info-time"> {{appLiterals.APP.COMMON.FINLOC_DETPAGE.TIM_INT}} </p>

                    </div>
                </div>
			<div class="fin-txt"></div>
            <div class="help-line-wrap" ng-show="fields.selectedLocation.contact_number.split(',').length > 0 && fields.selectedLocation.contact_number.length > 0">
                <div  class="help-line">
                    <span class="glyphicon glyphicon-earphone phone-icon"></span>
                    <span class="ph-no"><a ng-href="tel:{{fields.selectedLocation.contact_number}}" >{{fields.selectedLocation.contact_number.split(',')[0]}}</a></span>
                </div>
                <div class="ph-bar" ng-show="fields.selectedLocation.contact_number.split(',').length > 1">
                    |
                </div>
                <div class="help-line" ng-show="fields.selectedLocation.contact_number.split(',').length > 1">
                    <span class="glyphicon glyphicon-earphone phone-icon"></span>
                    <span class="ph-no"><a ng-href="tel:{{fields.selectedLocation.contact_number.split(',')[1]}}" >{{fields.selectedLocation.contact_number.split(',')[1]}}</a></span>
                </div>
            </div>
        </div>
    </div>

</div>
