<div class="full-page-screen"></div>

<div class="confirmation-content-container">
    <div class="message-box-new">
        <div>
            <!-- <p class="round-icon-new">
            <span class="app app-alert pop-alert-icon"></span>
            </p> -->
            
           <div class="conf-txt-title"> {{confirmationObj.title}}</div>
           <div class="conf-txt-label"> {{confirmationObj.message}}</div>
        </div>
        <div class="conf-btn-wrap">
        	<button type="button" class="btn--confpri-btn" ng-click='setGlobalEvent("onLogoutClickOK")'> &nbsp; YES &nbsp; </button>
			<button type="button" class="btn--confsec-btn" ng-click='setGlobalEvent("onLogoutClickCancel")'> &nbsp; NO &nbsp; </button>
			<!-- <button type="button" class="btn--confpri-btn" ng-click='setGlobalEvent("onLogoutClickOK")'> &nbsp; {{confirmationObj.okText}} &nbsp; </button>
			<button type="button" class="btn--confsec-btn" ng-click='setGlobalEvent("onLogoutClickCancel")'> &nbsp; {{confirmationObj.cancelText}} &nbsp; </button> -->
        </div>
    </div>
</div>