 <div class="full-page-screen"></div>
 
 <div class="confirmation-content-container">
  <div class="message-box-new">
         <div>
             <p class="round-icon-new">
             <span class="app app-alert pop-alert-icon"></span>
             </p>
             
             <div class="otp-txt-label"> {{alertOverlayObj.message}}</div>
         </div>
         <div class="otp-btn-wrap">
             <button type="button" class="btn--otppri-btn" ng-click='hideValidationAlert()'> &nbsp; {{alertOverlayObj.okText}}&nbsp; </button>
             <!--<button type="button" class="btn--confsec-btn" ng-hide="alertOverlayObj.noSetEvent" ng-click='showAlertFlag = false; setGlobalEvent("onErrorPageOKClick")'> &nbsp; {{alertOverlayObj.okText}}  &nbsp; </button>-->
         </div>
     </div>
 </div>