 <div class="full-page-screen"></div>
 <div class="confirmation-content-container">
  <div class="message-box-new">
         <div>
             <p class="round-icon-new">
             <span class="app app-alert pop-alert-icon" ng-class="{'app-tickcircle':alertOverlayObj.cancelText=='' && alertOverlayObj.noSuccessIcon}"></span>
             </p>            
             <div class="otp-txt-label"> {{alertOverlayObj.message}}</div>
         </div>
         <div class="otp-btn-wrap">
             <button type="button" class="btn--otppri-btn" ng-click=' hideConfirmBox(true)'> &nbsp; {{alertOverlayObj.okText}}&nbsp; </button>
             <button type="button" ng-show='alertOverlayObj.cancelText' class="btn--confsec-btn" ng-click='hideConfirmBox(false);'>&nbsp;  {{alertOverlayObj.cancelText}}  &nbsp; </button>
         </div>
     </div>
 </div>