<div ng-init='StepupAuthenticate.initResponse(successResponse.responsesList)'>
	<div class="app-title-wrapper">
		<div class="title-left"></div>
		<div class="title-center">StepUp Authorisation</div>
		<div class="title-right"></div>
	</div>
	<div class="highlight-color"></div>
		<div ng-if='StepupAuthenticate.authorization_action == appLiterals.APP.CONSTANTS.SECURITY_QUESTIONS'>
			<div class="fin-txt"></div>
			<div class="fin-txt"></div>
			<p class="special-txt">Please answer the security question(s)
				below</p>
			<div class="fin-txt"></div>
			<div class="fin-txt"></div>

				<div class="padding-zero">
						<div ng-repeat="question in StepupAuthenticate.actionDetails[0].params.Questions">
							<p class="special-txt">{{question.questionDescription}}</p>
							<fin-input type="text" model="question.answer" display-row="full"placeholder="" 
							validation-flag='pageErrorArr["StepupAuthenticate.actionDetails[0].params.Questions[" + {{$index}} +"]"]'></fin-input>
							<div class="fin-txt"></div>
						</div>
				</div>
		</div>
		<div ng-if='StepupAuthenticate.authorization_action == appLiterals.APP.CONSTANTS.RSA_SECURE_ID'>
			<div class="fin-txt"></div>
			<div class="fin-txt"></div>
			<div class="label-wrap">
                  <p class="label-title">RSA Secure ID</p>
            		    <p class="label-txt">{{StepupAuthenticate.actionDetails[0].params.RSASecureIDMessage}}</p>
            </div>
			<fin-input type="password_text" model="StepupAuthenticate.RSAorOTP" validation-flag='pageErrorArr["StepupAuthenticate.RSAorOTP"]' display-row="full" placeholder="Secure ID"></fin-input>
		</div>
		
		<div ng-if='StepupAuthenticate.authorization_action == appLiterals.APP.CONSTANTS.SEC_SMSOTP'>
			<div class="fin-txt"></div>
			<div class="fin-txt"></div>
			 <div class="label-wrap">
            	<p class="label-title">OTP Authorize</p>
      		<p class="label-txt">{{StepupAuthenticate.actionDetails[0].params.SMSOTPMessage}}</p>
      		 </div>
      	  <fin-input type="password_num" model="StepupAuthenticate.RSAorOTP" validation-flag='pageErrorArr["StepupAuthenticate.RSAorOTP"]' display-row="full" placeholder="OTP" max-length="10"></fin-input>
				
		</div>
</div>