<div class="dashboard-container">
  <div>
    <div class="app-profile-wrapper"> </div>
    <div class="app-profile">
        <div class="app-user-img">
          <img src="images/face_default.png" class="user-img">
          <p class="user-char-wrap">
            <span class="first-char ng-binding">
             J

           </span>
          </p>
        </div>
        <div class="app-user-detail">
          <div class="app-user-name ng-binding"> Cee Aim </div>
          <div class="last-login ng-binding">Last Login: 14,10,15 07:02:24 PM </div>
        </div>
     </div>
  </div>
  <div class="nano menu-scroll dash-tiles" style="height: 100% !important;
    margin-top: 5.7em;
    position: fixed;
    width: 100%;">
		<div class="nano-content" style="    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;">
		  <div class="dashboard-body col-sm-12 col-md-4">
		    <div class="highlight-color"> </div>
		      <div class="dashboard-item-body">
				<div class="dashboard-item-title">
					  <div ng-hide="successResponse.invocationResult.operativeAccountsList.length <= 1" class="item-arrow-left" ng-click="oppAccountIndex = ( oppAccountIndex > 0 ? oppAccountIndex  - 1 : successResponse.invocationResult.operativeAccountsList.length - 1)">
						<span class="glyphicon glyphicon-menu-left item-arrow"></span>
					  </div>

					  <div ng-hide="successResponse.invocationResult.operativeAccountsList.length <= 1" class="item-arrow-right" ng-click="oppAccountIndex = ( oppAccountIndex < successResponse.invocationResult.operativeAccountsList.length - 1 ? oppAccountIndex + 1 : 0 )">
						<span class="glyphicon glyphicon-menu-right item-arrow"></span>
					   </div>                
					  <div class="item-title ng-binding"> OPERATIVE </div>
					</div>

		        <div class="col-sm-12 touch-press dashboard-item-body" ng-click='setEvent("onDetailsClick")'>


		            <div class="account-detail-dash">
		                <p class="dash-ac-num">
		                  <span class="dash-ac-no ng-binding">A 
		                  -</span><br>
		                  <span class="dash-ac-id ng-binding">MBACCNT4</span>
		                </p>
		              
		            </div>
		            <div class="balance-detail">
		              <p class="balance-available-dash"> Available Balance </p>
		
		              <div class="amount"> 
		                <span class="amount-curr ng-binding"> 
		                  INR 
		                </span>
		                <span class="amount-rs ng-binding"> 
		                  94050.
		                </span>                
		                <span class="amount-ps ng-binding"> 
		                  00
		                </span>
		             </div>
		
		            </div>
		        </div>

		      </div>
		  </div>
	      <div class="dashboard-body col-sm-12 col-md-4">
			    <div class="highlight-color"> </div>
			      <div class="dashboard-item-body">
					<div class="dashboard-item-title">
						  <div class="item-title ng-binding"> DEPOSIT </div>
						</div>

			        <div class="col-sm-12 touch-press dashboard-item-body" ng-click='setEvent("onDetailsClick")'>


			            <div class="account-detail-dash">
			
			                <p class="dash-ac-num">
			                  <span class="dash-ac-no ng-binding">A 
			                  -</span><br>
			                  <span class="dash-ac-id ng-binding">000000116INR</span>
			                </p>
			            </div>
			            <div class="balance-detail">
			
			              <p class="balance-available-dash ng-binding"> Ledger Amount </p>
			
			              <div class="amount"> 
			                <span class="amount-curr ng-binding"> 
			                  INR 
			                </span>
			                <span class="amount-rs ng-binding">             
			                  450.
			                </span>                
			                <span class="amount-ps ng-binding"> 
			                  00
			                </span> 
			               </div>
			
			            </div>
			        </div>

			      </div>
			  </div>
			  <div class="dashboard-body col-sm-12 col-md-4">
			    <div class="highlight-color"> </div>
			      <div class="dashboard-item-body">
					<div class="dashboard-item-title">
						  <div class="item-title ng-binding"> Loan </div>
						</div>

			        <div class="col-sm-12 touch-press dashboard-item-body" ng-click='setEvent("onDetailsClick")'>


			            <div class="account-detail-dash">
		
			                <p class="dash-ac-num">
			                  <span class="dash-ac-no ng-binding">A 
			                  -</span><br>
			                  <span class="dash-ac-id ng-binding">MOBLA1</span>
			                </p>
			            </div>
			            <div class="balance-detail" >
		            
		              <p class="balance-available-dash ng-binding"> Current Outstanding  </p>
		
		              <div class="amount"> 
		                <span class="amount-curr ng-binding"> 
		                  INR 
		                </span>
		                <span class="amount-rs ng-binding">
		                  -100000.
		                </span>
		                <span class="amount-ps ng-binding"> 
		                  00
		                </span> 
		
		               </div>
		
		            </div>
			        </div>

			      </div>
			  </div>

		  


		  <div class="scroll-space"></div>

		  </div>
		</div>
</div>
