<div class="dashboard-container">
  <div class="col-md-12"> 
      <div class="app-title-wrapper">
        <div class="title-left"></div>
		<div class="title-center"> ACCOUNTS </div>

        <div class="app app-cancel title-right-dash" ng-click="setEvent(&quot;onDashboardClick&quot;)"></div>
      </div>
      <div class="highlight-color"> </div>
      <div class="dashboard-item-body">
        <div class="dashboard-item-title">
          <div ng-hide="fields.selectAcccountMax <= 1" class="item-arrow-left" ng-click="
              fields.browseAccountIndexInt = (fields.browseAccountIndexInt == 0 ? (fields.selectAcccountMax-1) : fields.browseAccountIndexInt-1);
              fields.accountDetailSource = &quot;ACC_ITEM&quot;; 
              fields.browseAccountIndex = &quot;&quot; + fields.browseAccountIndexInt + &quot;&quot;;
              fields.currAccountDetails = fields.dashboardResponseList[fields.browseAccountIndexInt];
              setEvent(fields.acccountEventName );
              ">  
            <span class="glyphicon glyphicon-menu-left item-arrow"></span>
          </div>

          <div ng-hide="fields.selectAcccountMax <= 1" class="item-arrow-right" ng-click="
              fields.browseAccountIndexInt = (fields.browseAccountIndexInt == (fields.selectAcccountMax-1) ? 0 : (fields.browseAccountIndexInt+1));            
              fields.accountDetailSource = &quot;ACC_ITEM&quot;; 
              fields.browseAccountIndex = &quot;&quot; + fields.browseAccountIndexInt + &quot;&quot;;
              fields.currAccountDetails = fields.dashboardResponseList[fields.browseAccountIndexInt];
              setEvent(fields.acccountEventName );
              "> 
            <span class="glyphicon glyphicon-menu-right item-arrow"></span>
           </div>                
          <div class="item-title ng-binding">  OPERATIVE </div>
        </div>
      </div>       
      <div class="bg-color">
        <div class="row">
          <div class="col-sm-12"> 
          	<div class="col-sm-12">
		   <div class="account-detail-dash">
                <p class="dash-ac-num"> 
			  <span class="dash-ac-no ng-binding">A 
			  -</span><br>
			  <span class="dash-ac-id ng-binding">MBACCNT4 </span>
			   </p>
            </div> 
            <!--Line below commented to hide IMPS flow for R1, uncomment during R2.  -->
            <!-- <div class="app app-ellipses app-ellipses-icon" ng-click="addMMIDFlag = true;"></div> -->
            <div class="app app-ellipses app-ellipses-icon"></div> 
            <div class="balance-detail">
              <p class="balance-available-dash ng-binding"> Available Balance </p>
              <div class="amount"> 
                <span class="amount-curr ng-binding"> INR </span>
                <span class="amount-rs ng-binding"> 94050. </span>                
                <span class="amount-ps ng-binding"> 00 </span>
             </div>
            </div>
            </div>
            <div class="app-future"> 
              <div class="app-transaction"> 
                <div class="fut-txt1 ng-binding"> Transactions </div>
                <div class="app-fut-line"></div>
			    <div class="app-fut-tri"></div>           
              </div>
              <div class="app-dash-details" ng-click="setEvent(&quot;onAccountDetailsClick&quot;)"> 
                <span class="fut-txt ng-binding">Details </span>
              </div>
              <div class="app-search glyphicon glyphicon-search" ng-click="setEvent(&quot;onTransactionSearchClick&quot;)"></div>
            </div>
            <div class="app-future-results ng-hide" ng-show="fields.trxSearchFlag">
              <div class="fut-result"> 
                Search Results: <!--<span ng-if='fields.trxnSearchByDate1Prev !=" "'> for {{fields.trxnSearchByDate1Prev}}{{fields.trxnSearchByDate2Prev == null? "" : " - " + fields.trxnSearchByDate2Prev}}</span>--> 
              </div>
              <div class="app app-cancel result-close" ng-click="fields.accountDetailSource = &quot;ACC_OTHER_PAGE&quot;; fields.trxSearchFlag = false;"></div>
            </div>
			</div>
			<div class="col-sm-10">
            <div class="nano scroll-height">

              <!-- Content for Transactions --> 
              <div class="transaction-info nano-content">

                <div class="trans-detail ng-binding ng-hide" ng-show="dashboard.currSuccessResponse.responsesList[0].transactions == null || dashboard.currSuccessResponse.responsesList[0].transactions.length == 0">
                  There are no transactions for this account
                </div>
				<div class="trans-detail ng-scope">
                  <div class="trans-dash-left">
                     <span class="amt-cur ng-binding"> INR </span>              
                    <span class="amt-rs ng-binding"> 5000. </span>
                    <span class="amt-ps ng-binding"> 00 </span>
                  </div>

                  <div class="trans-dash-cd">
                    <span class="glyphicon glyphicon-plus-sign credit-icon" ></span> 
                    <span class="glyphicon glyphicon-minus-sign debit-icon ng-hide"></span>                   
                  </div> 

                  <div class="trans-dash-right">
                  	<div class="trans-no ng-binding">
                      TRTR/123654288946/27-12-2008 00:00:00/CMN
                    </div>
                    <div class="trans-date ng-binding">
                      19-09-2014
                    </div>
                   
                  </div>
               
                </div>
                <div class="trans-detail ng-scope">
                  <div class="trans-dash-left">
                     <span class="amt-cur ng-binding"> INR </span>              
                    <span class="amt-rs ng-binding"> 5000. </span>
                    <span class="amt-ps ng-binding"> 00 </span>
                  </div>

                  <div class="trans-dash-cd">
                    <span class="glyphicon glyphicon-plus-sign credit-icon ng-hide"></span> 
                    <span class="glyphicon glyphicon-minus-sign debit-icon"></span>                   
                  </div> 

                  <div class="trans-dash-right">
                  	<div class="trans-no ng-binding">
                      TRTR/123654288946/27-12-2008 00:00:00/CMN
                    </div>
                    <div class="trans-date ng-binding">
                      19-09-2014
                    </div>
                   
                  </div>
               
                </div>
              </div>

              <!-- Content for Search -->
              <div class="transaction-info nano-content ng-hide" ng-show="fields.trxSearchFlag">

                <div ng-show="fields.trxSeachResult.length == null || fields.trxSeachResult.length == 0" class="ng-binding">
                  No results found
                </div>

                <!-- ngRepeat: transaction in fields.trxSeachResult -->
              </div>
			</div>
            </div>

          </div>
          <div class="col-sm-1"> </div>
        </div> 

      </div>
</div>
