<div class="app-container">
<div class="col-md-2"></div>
<div class="col-md-8">
	<h1 class="text-center"> Hello Landing page </h1>
	<button class="btn--primary-btn" ng-click='setEvent("onLoginClick")'> 
		Login
	</button>

	<button id='hideMe' class="btn--primary-btn" ng-click='setEvent("onCustomizeClick")'> 
		Theming and deployment.
	</button>

	<button class="btn--primary-btn" ng-click='setEvent("onDashboardClick")'> 
		Dashboard
	</button>
</div>
<div class="col-md-2"></div>
</div>