
<div class="dashboard-wrapper" ng-init='dashboard.getDashoardResponse(successResponce)'>
   <div class="date-header">
     <span>13 Jun, <span style="font-weight:normal">2016</span></span>
     <p>Monday</p>
   </div>
  <div class="map-wrap">
    <img src="images/staticmap.png" class="img-responsive">
  </div>
   <div class="row first-half">
        <div class="col-sm-5 col-md-5 left-cont">
            <div class="col-sm-12 time-wrap">
                <div class="col-sm-5 pad15">
                    <p class="circle-wrap"></p>
                    <p class="circle-txt">&nbsp; New Customer</p>
                   <!--  <p> {{dashboard.data.responsesList[0].pageData.alert}}</p> -->
                </div>
                <div class="col-sm-5 pad15 text-center">
                    <p class="circle-wrap ml-25"></p>
                    <p class="circle-txt">&nbsp; Follow Up</p>
                </div>
                <div class="col-sm-2">
                    <p class="glyphicon glyphicon-option-horizontal hr-icon"></p>
                </div>
            </div>
            <div class="col-sm-12 time-scroll">

                <div class="col-sm-12 padding-zero" ng-repeat="alert in dashboard.data.responsesList[0].pageData.alert">
                    <div class="col-sm-2 pad15">
                        <p class="circle-wrap mt-10"></p>
                    </div>
                    <div class="col-sm-10 padb15">
                        <h5 class="time-txt">{{alert.time}}</h5>
                        <p class="rem-txt">{{alert.message}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-7 col-md-7 right-cont">
             <calendar></calendar>
        </div>
    </div>
    <div class="row second-half">
      <div class="stock-wrap">
        <div class="stock-cont" ng-repeat="stock in dashboard.data.responsesList[0].pageData.stock">
            <p class="stock-name">{{stock.stockName}}</p>
            <p class="stock-amt">${{stock.price}}</p>
            <p class="fa fa-caret-up stock-arrow" aria-hidden="true"></p>
            <p class="stock-per">{{stock.change}}({{stock.pChange}}%)</p>
            <p class="stock-div"></p>
        </div>
      </div>
      <div class="recent-wrap">
        <p class="recent-txt">Recent News</p>
        <div class="col-sm-4 news-wrap" style="background:url('{{recentNews.img}}');" ng-repeat="recentNews in dashboard.data.responsesList[0].pageData.recentNews">
            <p class="news-cont">{{recentNews.titel}}</p>

        </div>
       </div>
    </div>
</div>