<div class='app-container' ng-init='prelogin.getThemeResponse(successResponse);preview=false'>
    <div class="row" style='margin-left:0'>
        <div class='col-sm-12'>
          <div class="col-md-6">
            <div class="alert alert-success" role="alert"> <b>Theme Name: Theme1</b></div>
            <div ng-repeat="item in prelogin.themeArr" class="theme-style">
              <div class="col-md-6 col-sm-6 col-xs-6">{{item.desc.substr(3)}}</div>
              <div class="col-md-6 col-sm-6 col-xs-6"><input type='text' class="input-wrap" ng-model='item.value'/></div>
            </div>
            <button class='btn--primary-small-btn' ng-click='setEvent("onChangethemeClick");prelogin.reloadFrame();'>Apply</button>
  <!--<a href="http://localhost:9090/" target="_blank">-->
  <button class='btn--primary-small-btn' ng-click='setEvent("onResetThemeClick");prelogin.reloadFrame();'>Reset</button>
          </div>
          <div class="col-md-6">
          <div class="col-md-12">

    <iframe id='preview' src="http://localhost:9090" style="width: 100%;height: 700px;"></iframe>
<div class="btn--primary-btn">Deploy</div>
  </div>
          </div>
        </div> 
</div>
</div>