<div class="need-finder-form-wrapper">
        <div class="date-header row">
            <div class="col-sm-5 col-md-5 header-navbar">                
                <span>{{appLiterals.APP.LOGIN_PAGE.HEADER}}</span>
            </div>            
        </div>
        <div class="init-height">
        </div>
        <div class="form-wrapper">
            <br />
            <br />
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-3 col-md-3 zero-padding">
                        <div class="analysis-heading">
                            <p class="ng-binding">{{appLiterals.APP.LOGIN_PAGE.USER_NAME_TXT}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="group">
                            <input class="inputMaterial" type="text" value="" required="">
                            <span class="highlight"></span>
                            <label class="ng-binding">{{appLiterals.APP.GAMING_TABLE.LABEL.ENTER_TABLE_NUMBER}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 text-right">
                        <button class="grid-cont-btn ng-binding" ng-click="">{{appLiterals.APP.COMMON.BUTTON.SUBMIT}}</button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">

                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <select class="date-dropdown browser-default">
                                <option selected="" disabled="" value="Game type">Temporary Close</option>
                                <option value="Poker">Yes</option>
                                <option value="Baccarat">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="">
                            <span class="highlight"></span>
                            <label>{{appLiterals.APP.GAMING_TABLE.LABEL.GAMING_DATE}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 text-right">
                        <button class="grid-cont-btn ng-binding" ng-click="">{{appLiterals.APP.COMMON.BUTTON.NEXT}}</button>
                    </div>
                </div>
                <!--<div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="">
                            <span class="highlight"></span>
                            <label class="ng-binding">Minimum Bet</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 text-right">
                        <button class="grid-cont-btn ng-binding" ng-click="">Next</button>
                    </div>
                </div>-->

                <div class="row hideTable" id="adjustGameOpenTable">
                    <div class="col-sm-12 col-md-12">
                        <div class="analysis-heading">
                            <p>{{appLiterals.APP.GAMING_TABLE.LABEL.TABLE_DETAILS}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <select class="date-dropdown browser-default">
                                    <option disabled="" value="Chip type">Chip type</option>
                                    <option selected="" value="Chip type1">Chip type1</option>
                                    <option value="Chip type2">Chip type2</option>
                                    <option value="Chip type3">Chip type3</option>
                                    <option value="Chip type4">Chip type4</option>
                                    <option value="Chip type5">Chip type5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.DenominationValue}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.DENOMINATION_VALUE}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.AmountForDenomination}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.AMOUNT_OF_DENOMINATION}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.QuantityForDenomination}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.QUANTITY_OF_DENOMINATION}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.GrandTotal}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.TOTAL_OF_FLOAT}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.GrandTotal}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.TOTAL_OF_DREW}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="col-sm-4 col-md-4">
                            <div class="group">
                                <input class="inputMaterial" type="text" required="" value={{adjustGamingTable.pageData.adjustGamingTableOpenDetail.GrandTotal}}>
                                <span class="highlight"></span>
                                <label>{{appLiterals.APP.GAMING_TABLE.LABEL.GRAND_TOTAL}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <button class="grid-cont-btn" ng-click="setEvent('onCloseGamingTableClick')">{{appLiterals.APP.COMMON.BUTTON.CLOSE}}</button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <br /><br />
                    </div>
                </div>
            </div>

        </div>
    </div>
<br>