<div class="login-page" ng-show="dashboard.showLogin">
  <div class="login-logo">
    <img src="images/logob.jpg">
  </div>
  <div class="container" style="width:60%;">
    <div class="carde"></div>
    <div class="carde">
      <h1 class="title">Login</h1>
      <form >
        <div class="input-container">
          <input type="text" id="Username" ng-model="dashboard.username" />
          <label for="Username">Username</label>
        </div>
        <div class="input-container">
          <input type="password" id="Password" ng-model="dashboard.password" />
          <label for="Password">Password</label>
        </div>
        <div class="button-container">
          <button class="btn btn-pit waves-effect waves-light" ng-click="dashboard.displayLogin()" name="action">
            <span>login</span>
                </button>
        </div>
        <div class="footer"><a href="">Forgot your password?</a></div>
      </form>
    </div>
    <div class="carde alt">
      <div class="toggle"></div>
      <h1 class="title">Register
        <div class="close"></div>
      </h1>
      <form>
        <div class="input-container">
          <input type="text" id="Username" required="required" />
          <label for="Username">Username</label>
        </div>
        <div class="input-container">
          <input type="password" id="Password" required="required" />
          <label for="Password">Password</label>
        </div>
        <div class="input-container">
          <input type="password" id="Repeat Password" required="required" />
          <label for="Repeat Password">Repeat Password</label>
        </div>
        <div class="button-container">
          <button><span>Next</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
  <div class="date-header row">
    <div class="col-sm-4 col-md-4 header-navbar">
        <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span>
      <span>{{appLiterals.APP.DASHBOARD}}</span>
    </div>
    <div class="col-sm-8 col-md-8 header-navbar">
     <div class="nav-wrapper"> 
      <ul class="right hide-on-med-and-down nav-ul">
            <li class="nav-ul-li"><a href=""><i class="fa fa-bell nav-icon-size" aria-hidden="true"></i></a></li>
            <li class="nav-ul-li"><a href=""><i class="fa fa-cog nav-icon-size" aria-hidden="true"></i></a></li>
            <li class="nav-ul-li">
                <a class='dropdown-button' href="">
                <i class="fa fa-th nav-icon-size" aria-hidden="true"></i>
                </a>
            </li>
            <li class="dropdown nav-ul-li languageContainer">   
                    <button class="btn-sm lang-btn dropdown-toggle" type="button" data-toggle="dropdown">Language
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><span class = "lang-text" ng-click="dashboard.langSelector('es',true)">Spanish</span></li>
                    <li><span class = "lang-text" ng-click="dashboard.langSelector('en',true)">English</span></li>
                    <li><span class = "lang-text" ng-click="dashboard.langSelector('fr',true)">French</span></li>
                    </ul>
                </li>
        </ul>
      </div>
    </div>
  </div>
<div class="init-height"></div>
<iframe src="highchart.html" width="100%" height="680px"></iframe>
<br>

