<!--<div class="need-finder-form-wrapper" ng-init="postRating.getFormResponse(successResponse)">
  <div class="date-header row">
    <div class="col-sm-5 col-md-5 header-navbar">
      <span>Pit Status Details</span>
    </div>
    <div class="col-sm-7 col-md-7 padding-zero">
      <div class="status-section">
        <div class="step-sec step-active">
          <div class="step-dot">
          </div>
          <div class="step-number">
            <p>Step 1</p>            
          </div>
        </div>
        <div class="step-hr">
          <hr>
        </div>
        <div class="step-sec">
          <div class="step-dot">
          </div>
          <div class="step-number step-number-active">
            <p>You are here</p>
          </div>
        </div>
        <div class="step-hr">
          <hr>
        </div>
        <div class="step-sec">
          <div class="step-dot">
          </div>
          <div class="step-number">
            <p>Step 3</p>
          </div>
        </div>
        <div class="step-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="init-height">
  </div>
    <div class="form-wrapper">
        <br />
        <br />
        <div class="col-sm-12 col-md-12">
            <div class="col-sm-4 col-md-4">
                <div class="analysis-heading">
                    <p>Table Number</p>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="group">
                    <input class="inputMaterial" type="text" value="" required value="{{postRating.pageData.personalDetails.residenence}}">
                    <span class="highlight"></span>
                    <label>Enter Table Number </label>
                </div>
            </div>


            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <select class="date-dropdown browser-default">
                        <option disabled="" value="Pit1">Pit</option>
                        <option selected="" value="Pit1">Pit1</option>
                        <option value="Pit2">Pit2</option>
                        <option value="Pit3">Pit3</option>
                        <option value="Pit4">Pit4</option>
                        <option value="Pit5">Pit5</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="group">
                    <select class="date-dropdown browser-default">
                        <option disabled="" value="Area">Area</option>
                        <option selected="" value="Area1">Area1</option>
                        <option value="Area2">Area2</option>
                        <option value="Area3">Area3</option>
                        <option value="Area4">Area4</option>
                        <option value="Area5">Area5</option>
                    </select>
                </div>
            </div>

            <div class="row" id="pitDetailTable">
                <div class="col-sm-12 col-md-12">
                    <div class="analysis-heading">
                        <p>Table Details</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 disable-cursor">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" value="XYZ">
                            <span class="highlight"></span>
                            <label>Opener</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" value="100">
                            <span class="highlight"></span>
                            <label>Fill</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="1787">
                            <span class="highlight"></span>
                            <label>Credits</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 disable-cursor">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="189">
                            <span class="highlight"></span>
                            <label>Cheques</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="17786">
                            <span class="highlight"></span>
                            <label>CDWs</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="17786">
                            <span class="highlight"></span>
                            <label>CEVs</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 disable-cursor">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="17786">
                            <span class="highlight"></span>
                            <label>Est. Need</label>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="189">
                            <span class="highlight"></span>
                            <label>Est. Win</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="189">
                            <span class="highlight"></span>
                            <label>Closer</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="group">
                            <input class="inputMaterial" type="text" required="" value="17786">
                            <span class="highlight"></span>
                            <label>Est. Drop</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="col-sm-4 col-md-4">
                        <button class="grid-cont-btn" ng-click="setEvent('onModifyPitClick')">Modify</button>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <button class="grid-cont-btn" ng-click="setEvent('onDetailsPitClick')">Details</button>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <button class="grid-cont-btn" ng-click="setEvent('onQuitPitClick')">Quit</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <br /><br /><br />
                </div>
            </div>
        </div>

    </div>
</div>
<br>-->