<div class="need-finder-form-wrapper">
  <div class="date-header row">
    <div class="col-sm-5 col-md-5 header-navbar">
        <span style="font-size:30px;cursor:pointer;padding: 23px;margin-left: -44px;" onclick="openNav()">&#9776;</span> 
        <span>{{appLiterals.APP.PIT_STATUS_TABLE.TITLE.PAGE_NAME}}</span>
    </div>
    <div class="col-sm-7 col-md-7 padding-zero">
      <div class="status-section">
        <div class="step-sec step-active">
          <div class="step-dot">
          </div>
          <div class="step-number step-number-active">
            <p>You are here</p>
          </div>
        </div>
        <div class="step-hr">
          <hr>
        </div>
        <div class="step-sec">
          <div class="step-dot">
          </div>
          <div class="step-number">
            <p>Step 2</p>
          </div>
        </div>
        <div class="step-hr">
          <hr>
        </div>
        <div class="step-sec">
          <div class="step-dot">
          </div>
          <div class="step-number">
            <p>Step 3</p>
          </div>
        </div>
        <div class="step-close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="init-height">
  </div>
  <div class="form-wrapper">
      <br />
      <br />
      <div class="col-sm-12 col-md-12">
          <div class="col-sm-4 col-md-4">
              <div class="analysis-heading">
                  <p>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.TABLE_NO}}</p>
              </div>
          </div>
          <div class="col-sm-8 col-md-8">
              <div class="group">
                  <input class="inputMaterial" type="text" value="" id="tableInput" ng-change="tableNoEntered()" ng-model="tableNo" required value="{{postRating.pageData.personalDetails.residenence}}">
                  <span class="highlight"></span>
                  <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.ENTER_TABLE_NUMBER}}</label>
              </div>
          </div>


          <div class="col-sm-6 col-md-6">
              <div class="col-sm-3 col-md-3">
                  <div class="analysis-heading">
                      <p>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.PIT}}</p>
                  </div>
              </div>
              <div class="col-sm-9 col-md-9">
                  <select class="date-dropdown browser-default" id="pitDrp" ng-change="drpPitSelected()" ng-model="pitSelected">
                      <option selected="" value="Pit1">Pit</option>
                      <option value="Pit1">Pit1</option>
                      <option value="Pit2">Pit2</option>
                      <option value="Pit3">Pit3</option>
                      <option value="Pit4">Pit4</option>
                      <option value="Pit5">Pit5</option>
                  </select>
              </div>
          </div>

          <div class="col-sm-6 col-md-6">
              <div class="col-sm-3 col-md-3">
                  <div class="analysis-heading">
                      <p>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.AREA}}</p>
                  </div>
              </div>
              <div class="col-sm-9 col-md-9">
                  <select class="date-dropdown browser-default" id="areaDrp" ng-change="drpAreaSelected()" ng-model="areaSelected">
                      <option selected="" value="Area">Area</option>
                      <option value="Area1">Area1</option>
                      <option value="Area2">Area2</option>
                      <option value="Area3">Area3</option>
                      <option value="Area4">Area4</option>
                      <option value="Area5">Area5</option>
                  </select>
              </div>
          </div>
          
          <div class="row" id="pitStatusTable" ng-hide="isHidePitStatusTable">
              <div class="card mar-30">
                  <div class="col-sm-12 col-md-12">
                      <div class="analysis-heading">
                          <p>{{appLiterals.APP.POST_RATING.LABEL.TABLE_DETAILS}}</p>
                      </div>
                  </div>
                  <div class="table-details small-font">
                      <div class="{{tabActive}}">
                          <table class="striped">
                              <thead class="text-center">
                                  <tr>
                                      <th class="text-center" data-field="id">{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.LOC}}</th>
                                      <th class="text-center" data-field="name">{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.AC_SUB}}</th>
                                      <th class="text-center" data-field="id">{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.STAT}}</th>
                                      <th class="text-center" data-field="name">{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.EST_WIN}}</th>
                                  </tr>
                              </thead>

                              <tbody>
                                  <tr class="first-table-tab" ng-click="onPitStatusRowClick()">
                                      <td class="text-center">1501</td>
                                      <td class="text-center">BA/NC</td>
                                      <td class="text-center">CLSD</td>
                                      <td class="text-center">0.00</td>

                                  </tr>
                                  <tr class="second-table-tab" ng-click="onPitStatusRowClick()">
                                      <td class="text-center">1502</td>
                                      <td class="text-center">BA/NC</td>
                                      <td class="text-center">CLSD</td>
                                      <td class="text-center">1000.00</td>
                                  </tr>
                                  <tr class="third-table-tab" ng-click="onPitStatusRowClick()">
                                      <td class="text-center">1503</td>
                                      <td class="text-center">BA/NC</td>
                                      <td class="text-center">CLSD</td>
                                      <td class="text-center">78478480.00</td>
                                  </tr>
                                  <tr class="fourth-table-tab" ng-click="onPitStatusRowClick()">
                                      <td class="text-center">1504</td>
                                      <td class="text-center">BA/NC</td>
                                      <td class="text-center">CLSD</td>
                                      <td class="text-center">27260.00</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>


                  </div>
              </div>
          </div>

          <div class="row" id="pitDetailTable" ng-hide="isHidePitDetailTable">
              <div class="col-sm-12 col-md-12">
                  <div class="analysis-heading">
                      <p>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.TABLE_DETAILS}}</p><br />
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 disable-cursor">
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" value="XYZ">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.OPENER}}</label>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" value="100">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.FILL}}</label>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="1787">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.CREDITS}}</label>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 disable-cursor">
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="189">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.CHEQUES}}</label>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="17786">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.CDWs}}</label>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="17786">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.CEVs}}</label>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 disable-cursor">
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="17786">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.EST_NEED}}</label>
                      </div>
                  </div>
                  <div class="col-sm-8 col-md-8">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="189">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.EST_WIN}}</label>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12">
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="189">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.CLOSER}}</label>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <div class="group">
                          <input class="inputMaterial" type="text" required="" value="17786">
                          <span class="highlight"></span>
                          <label>{{appLiterals.APP.PIT_STATUS_TABLE.LABEL.EST_DROP}}</label>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12">
                  <div class="col-sm-4 col-md-4">
                      <button class="grid-cont-btn" ng-click="setEvent('onModifyPitClick')">{{appLiterals.APP.COMMON.BUTTON.MODIFY}}</button>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <button class="grid-cont-btn" ng-click="setEvent('onDetailsPitClick')">{{appLiterals.APP.COMMON.BUTTON.DETAILS}}</button>
                  </div>
                  <div class="col-sm-4 col-md-4">
                      <button class="grid-cont-btn" ng-click="setGlobalEvent('onFinishClick')">{{appLiterals.APP.COMMON.BUTTON.QUIT}}</button>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12">
                  <br /><br /><br />
              </div>
          </div>

      </div>

  </div>
</div>
<br>